{% extends 'users/base.html' %}
{% load static %}
{% block seo_title %}
  Categories
{% endblock %}

{% block content %}

{% if postsbycategory %}

  <div class="responsive">
    <h1 class="text-center m-5 p-2">{{ category|upper }}</h1>
  </div>
    <div class="col-lg-6 col-md-6 mx-auto">
                  {% for job in jobsbycategory %}

                    <div class="job_item job--large ">
                        <div class="job__pic set-bg"
                            data-setbg="{{ post.image.url }}">
                            <div class="post__meta">
                                <h4>{{ post.created_date.day }}</h4>
                                <span>{{ post.created_date|date:'F' }}</span>
                            </div>
                        </div>
                        <div class="job__text">
                            <ul class="post__label--large">

                                <li style="text-decoration:none;"><a href="#">{{ post.category }}</a></li>
                            </ul>
                            <h3><a href="{% url 'job_details' jobs.pk %}">{{ post.title }}</a></h3>
                            <ul class="post__widget">
                                <li>by <span>{{ post.author.first_name }} {{ post.author.last_name }}</span></li>
                                <li><i class="fa fa-eye">  {{ post.views_count }}</i></li>
                                <li><a href="{% url 'post_detail' pk=post.pk %}"><i class="fa fa-comment">  {{ post.comments.count }}</i></a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'post_edit' post.pk %}"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="{% url 'post_delete' post.pk %}"><i class="fa fa-trash"></i></a></li>
                                {% endif %}
                            </ul>
                            <p>{{ post.text|safe|slice:200 }}</p>
                            <a href="#" class="primary-btn">Read more</a>
                            <div class="post__social">
                                <span>Share</span>
                                <a href="#"><i class="fa fa-facebook"></i> <span>82</span></a>
                                <a href="#"><i class="fa fa-twitter"></i> <span>24</span></a>
                                <a href="#"><i class="fa fa-envelope-o"></i> <span>08</span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        <nav aria-label="Page navigation example">
                          <ul class="pagination pagination-template d-flex justify-content-center">
                            {% if queryset.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?{{ page_request_var }}={{ queryset.previous_page_number }}" aria-label="Previous">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                            </li>
                            {% endif %}

                            <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a></li>

                              {% if queryset.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                              </a>
                            </li>
                              {% endif %}
                          </ul>
                        </nav>
                    </div>
{% else %}
  <h4>Sorry, this page does not exist!</h4>
{% endif %}
{% endblock %}
