{% extends 'blogapp/base.html' %}
{% load static %}

{% block title %}Draft Posts Page{% endblock %}

{% block content %}
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
                    <div class="header__humberger">
                        <i class="fa fa-bars humberger__open"></i>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 order-md-2 order-3">
                    <nav class="header__menu">
                        <ul>
                            <li ><a href="{% url 'home' %}">Home</a></li>
                            <li class="dropdown"><a href="#">Post categories</a>
                                <ul class="dropdown__menu">
                                  {% for cat in categories %}
                                  <li ><a style="color:white;" href="{% url 'category' cat.slug %}">{{ cat }}</a></li>

                                  {% endfor %}
                                </ul>
                            </li>

                            <li><a href="{% url 'about' %}">About</a></li>

                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'add_post' %}">Add post</a></li>
                            <li><a href="{% url 'add_category' %}">Add category</a></li>
                            <li class="active"><a href="{% url 'draft_posts' %}">Draft posts</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
                    <div class="header__search">
                        <i class="fa fa-search search-switch"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
      {% include 'blogapp/logo_container.html' %}
</header>
<!-- Header Section End -->
    <div class="categories__post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                  {% for post in drafts %}
                    <div class="categories__post__item categories__post__item--large">
                        <div class="categories__post__item__pic set-bg"
                            data-setbg="{{ post.image.url }}">
                            <div class="post__meta">
                                <h4 class="text-warning">{{ post.created_date.day }}</h4>
                                <span>{{ post.created_date|date:'F' }}</span>
                            </div>
                        </div>
                        <div class="categories__post__item__text">
                            <ul class="post__label--large">

                                <li ><a class="text-warning" style="text-decoration:none;" href="{% url 'category' post.category %}">{{ post.category }}</a></li>
                            </ul>
                            <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                            <ul class="post__widget">
                                <li>by <span>{{ post.author.first_name }} {{ post.author.last_name }}</span></li>
                                <li><i class="fa fa-eye">  {{ post.views_count }}</i></li>
                                <li><a href="{% url 'post_detail' pk=post.pk %}"><i class="fa fa-comment">  {{ post.comments.count }}</i></a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'post_edit' post.pk %}"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="{% url 'post_delete' post.pk %}"><i class="fa fa-trash"></i></a></li>
                                {% endif %}
                            </ul>
                            <p>{{ post.text|safe|slice:200 }}</p>
                            <a href="#" class="primary-btn">Read more</a>
                            <div class="post__social">
                                <span>Share</span>
                                <a href="#"><i class="fa fa-facebook"></i> <span>82</span></a>
                                <a href="#"><i class="fa fa-twitter"></i> <span>24</span></a>
                                <a href="#"><i class="fa fa-envelope-o"></i> <span>08</span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        <nav aria-label="Page navigation example">
                          <ul class="pagination pagination-template d-flex justify-content-center">
                            {% if queryset.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?{{ page_request_var }}={{ queryset.previous_page_number }}" aria-label="Previous">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                            </li>
                            {% endif %}

                            <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a></li>

                              {% if queryset.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                              </a>
                            </li>
                              {% endif %}
                          </ul>
                        </nav>
                    </div>


                <div class="col-lg-4 col-md-4">
                    <div class="sidebar__item">
                        <div class="sidebar__about__item">
                            <div class="sidebar__item__title">
                                <h6>About me</h6>
                            </div>
                            {% for item in about_list %}
                            <img src="{% static 'img/about/ioana-2.jpg' %}" alt="">
                            <h6><span>{{ item.title }}</span></h6>
                            <p>{{ item.text|slice:200 }}</p>
                            {% endfor %}
                            <a href="{% url 'about' %}" class="primary-btn">Read more</a>
                        </div>
                        <div class="sidebar__follow__item">
                            <div class="sidebar__item__title">
                                <h6>Follow me</h6>
                            </div>
                            <div class="sidebar__item__follow__links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                        </div>
                        <div class="sidebar__feature__item">
                            <div class="sidebar__item__title">
                                <h6>Feature Posts</h6>
                            </div>
                            {% for post in featured_posts %}
                            <div class="sidebar__feature__item__large set-bg"
                                data-setbg="{{ post.image.url }}">
                                <div class="sidebar__feature__item__large--text">
                                    <span><a href="{% url 'category' post.category %}">{{ post.category }}</a></span>
                                    <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="sidebar__item__banner">
                            <img src="{% static 'img/flower.jpg' %}" alt="">
                        </div>
                        <div class="sidebar__item__categories">
                            <div class="sidebar__item__title">
                                <h6>Categories</h6>
                            </div>

                            <ul>
                                {% for cat in category_count %}
                                <li><a href="{% url 'home' %}">{{ cat.name|capfirst }}<span>{{ cat.num_posts }}</span></a></li>
                                {% endfor %}
                        </div>
                        <div class="sidebar__subscribe__item">
                            <div class="sidebar__item__title">
                                <h6>Subscribe</h6>
                            </div>
                            <p>Subscribe to our newsletter and get my newest updates right on your inbox.</p>
                            <form action="/" method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <br/><br/>
                                <button type="submit" class="site-btn">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
{% endblock %}
<!-- old html
<div class="underheader container-fluid mb-5">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <form class="float-left form-inline my-2 mr-0 my-lg-0 justify-content-end" method="GET" action="{% url 'search' %}">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search...">
        <button class="btn btn-outline-dark type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>


{% for post in object_list %}
  {% if post.status == 'Published' %}
  <ul class="list-unstyled">
    <li><h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3></li>
    <li><p><small>by {{ post.author.first_name }} {{ post.author.last_name }}</small></p></li>
    <li><p><small><a href="{% url 'category_detail' slug=post.category.slug %}">{{ post.category }}</a></small></p></li>
    <li><p>{{ post.text|slice:100 }}</p></li>
    <li><p>{{ post.created_date }}</p></li>
  </ul>
  {% endif %}
{% endfor %}

{% if object_list.has_other_pages %}
<div class="pagination container-fluid justify-content-center my-5">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}=1">&laquo; first</a>
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
            <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
-->
