{% extends 'users/base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item">
            <div class="container-fluid mt-5">
            <h1 class="welcome_title text-center text-white mt-5">Change Your Career Starts Now!</h1>
            <h3 class="welcome_ad text-center text-white mt-3">Find Jobs, Employment & Career Making Over 100,000 Applications Every Day.</h3>
                <div class="row justify-content-center">
                    <div class="col-lg-6 p-0 justify-content-center">
                        <div class="hero__inside__item hero__inside__item--wide set-bg">
                            <form class="wide_form_search mt-5" action="{% url 'job-search-list' %}" method="GET">
                              <div class="form-box">
                                <input type="text" name="keyword" class="searchfield-business" placeholder="Search for job keywords...">
                                <!-- <input type="text" class="searchfield-location" placeholder="Select location"> -->
                                <input list="countries" name="loc" id="country" class="searchfield-location" placeholder="Choose location...">
                                <datalist id="countries" style="z-index:10">
                                  {% for country in countries_list %}
                                  <option value="{{ country }}"></option>
                                  {% endfor %}

                                </datalist
                                <span class="vert_sep_line"></span>
                                <button class="search-button" type="submit">Search</button>
                              </div>
                            </form>
                            <div class="trending_kwords pt-3">
                              <h5 class="text-white">Trending Keywords:  <span class="text-warning ml-5">IT Engineer</span><span class="text-warning ml-5">Farm Worker</span><span class="text-warning ml-5">Nurse</span></h5>
                            </div>
                            <div class="featured-jobs">
                              <div class="featured-jobs-type ">
                                  <span class="job-title">IT engineer</span>
                              </div>
                              <div class="featured-jobs-type">
                                  <span class="job-title">Marketing</span>
                              </div>
                              <div class="featured-jobs-type">
                                  <span class="job-title">Banking</span>
                              </div>
                              <div class="featured-jobs-type">
                                  <span class="job-title">Health Care</span>
                              </div>
                              <div class="featured-jobs-type">
                                  <span class="job-title">Art</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

{% if messages %}
    {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">
          {{ message }}
        </div>
    {% endfor %}
{% endif %}
<!-- Categories Section Begin -->

<section class="categories spad">
    <h3 class="text-center">Job Categories</h3>
    <hr class="sep-line-title mt-2">
    <h5 class="text-center">Choose your sector</h5>
    <hr class="sep-line-title mt-2">
    <div class="container">
        <div class="row" >
          {% for cat in jobs_cat %}
            <div class="col-lg-2 col-md-6 col-sm-6 m-3 set-bg categories__box" data-setbg="{{ cat.image.url }}">
                <hr>

                <div class="categories__title">
                  <h5>{{ cat|title }}</h5>
                </div>
                <div class="categories__cover">
                </div>
                <hr>
            </div>
            <hr>
          {% endfor %}
        </div>
    </div>
    <hr class="sep-line-title mt-2">
    <h3 class="text-center mt-5">Most Popular Jobs</h3>
    <hr class="sep-line-title mt-2">
    <h5 class="text-center">Click on any to see details</h5>
    <hr class="sep-line-title mt-2">
    <div class="job">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                  {% for job in featured_jobs %}

                    <div class="job__item">
                      <div class="job__description">
                        <div class="job__item__pic">
                            <div class="post__meta">
                                <img class="text-warning" src="{{ job.logo.url }}">
                            </div>
                        </div>
                        <div class="job__item__text text-left">
                            <div class="job__label--large">
                              <span class="job__item__status"><i class="fa fa-suitcase"></i> Full Time</span>
                              <h3 class="job__item__title"><a class="" href="{% url 'job_details' job.pk %}">{{ job.title }}</a></h3>
                            </div>
                            <ul class="post__widget">
                                <li><span>{{ job.company }}</span></li>
                                <li><span><i class="fas fa-money-check-alt"> {{ job.from_wage_hour }} - {{ job.to_wage_hour }} Euros / per Hour</i></span></li>
                                <li><a style="color: black; href="{% url 'category' job.category.slug %}">{{ job.category }}</a></li>
                                <li><a href="#"><i class="fa fa-comment text-dark"> {{ job.location }}</i></a></li>
                                <li><a href="#"><i class="fa fa-clock-o text-danger">{{ job.get_time_diff }} ago</i></a></li>
                                <li><a href="#"><i class="fa fa-trash text-danger"></i></a></li>

                            </ul>

                            <div class="post__social">
                                <span>Share</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                        </div>
                        <div class="job__item__btn">
                          <a href="{% url 'job_details' job.pk %}" class="primary-btn">Browse Job</a>
                        </div>
                    </div>
                  </div>
                    {% endfor %}
                </div>
                <div class="all_jobs_btn">
                  <a href="{% url 'job-search-list' %}" class="primary-btn">See all Jobs</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="sep-line-title mt-5">
    <h3 class="text-center">Job Locations</h3>
    <hr class="sep-line-title mt-2">
    <h5 class="text-center">Choose a location</h5>
    <hr class="sep-line-title mt-2">
    <div class="container">
        <div class="row" >
          {% for c in countries %}
            <div class="col-lg-2 col-md-6 col-sm-6 m-3 set-bg categories__box" data-setbg="{{ cat.image.url }}">
                <hr>

                <div class="categories__title">
                  <h5>{{ c }}</h5>
                </div>
                <div class="categories__cover">
                </div>
                <hr>
                <br>
                <p style="display:flex;" class="text-white">100 jobs</p>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- Categories Section End -->
{% endblock %}
