{% extends "users/base.html" %}
{% load static %}

{% block content %}
<!-- section welcome -->
<section class="search-list-banner" id="search_list_banner">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-sm-6 col-sm-offset-3">
        <div class="welcome_content">
          <a class="welcome_content_caption">Home</a>
          <p class="welcome_content_caption">Job Listing</p>
        </div> <!-- .welcome_content -->
      </div>
    </div> <!-- .row -->
    <div class="row">
      <div class="col-md-12 col-sm-6 col-sm-offset-3">
        <form class="form-signin mt-4" action="{% url 'job-search-list' %}" method="get">
          <div class="form-box">
            <input type="text" name="keyword" class="searchfield-business" placeholder="Search for job keywords...">
            <!-- <input type="text" class="searchfield-location" placeholder="Select location"> -->
            <input list="countries" name="loc" id="country" class="searchfield-location" placeholder="Choose location...">
            <datalist id="countries" style="z-index:10">
              {% for country in countries_list %}
              <option value="{{ country }}"></option>
              {% endfor %}

            </datalist
            <span class="vert_sep_line"></span>
            <button class="search-button" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div><!-- .row -->
  </div> <!-- .container -->
  <div class="welcome-parallax_bg" style="transform: translateY(0px);"></div>
</section>
<div class="welcome-top" id="home">
  <div id="rev_slider_wrapper" class="rev_slider_wrapper fullscreen-container">

  </div>
</div>
<hr>
<br>
<!-- Featured Jobs -->
<section class="section-jobs">
  <div class="headline container">
    <div class="row justify-content-center">
      <div class="col-12-xl">
        <h1 class="section-title">Search Results</h1>
        <p class="">Showing _______ of 50 Job Results.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="listings-container">
          {% for job in jobs %}
          <a href="#" class="listings ">
            <div class="listing-details">
              <div class="listing-company-logo"> <img src="{{ job.logo.url }}" width="50" height="50" alt="Recruiter Logo"> </div>
              <div class="listing-description">
                <h3 class="listing-title">{{ job.company|title }}</h3>
                <div class="listing-footer">
                  <ul>
                    <li><i class="fas fa-briefcase"></i> {{ job.title|title }}</li>
                    <li><i class="fas fa-briefcase"></i> {{ job.location }}</li>
                    <li><i cclass="fas fa-briefcase"></i> {{ job.job_type|title }}</li>
                    <li><i class="fas fa-briefcase"></i> {{ job.get_time_diff }} ago</li>
                  </ul>
                </div>
                <span class="job-hour-price"><i class="icon-line-awesome-dollar"></i> $ {{ job.from_wage_hour }} - {{ job.to_wage_hour }} Per Hour</span>
              </div>
              <span class="list-apply-button ripple-effect">Browse Job <i class="icon-line-awesome-bullhorn"></i></span>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>


{% endblock content %}
