{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
          <div class="logged_in_homepage">
            <div class="logged-in-homepage-wrapper">
              <div class="logged-in-homepage max-width-container">
                <div class="logged-in-homepage-top">
                  <!-- <div class="welcome-section">
                    <div class="buyer-request">
                      <span class="welcome-section-title text-display-6">Hi Ungureanu,</span>
                      <p>Get offers from sellers for your project</p>
                      <a class="ORLWF8p _0MkXbqi L9EM07f i6NB5Ls co-green-700 post-request-btn" href="/users/ungureanudan992/manage_requests/new?source=from_hp">Post a Request
                      </a>
                    </div>
                  </div> -->
                  <section class="personalized-content personalized-banners">
                    <section class="recommendations-carousel">
                      <span>
                        <div id="banners_carousel" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="{% static 'img/p1.WebP' %}" alt="programmer">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'img/p2.WebP' %}" alt="accountant">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'img/p3.WebP' %}" alt="photographer">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'img/p4.WebP' %}" alt="graphic-designer">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'img/p5.WebP' %}" alt="architect">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'img/p5.WebP' %}" alt="human-resources">
                            </div>
                          </div>
                        </div>
                      </span>
                    </section>
                  </section>
                </div>
                <div class="categories">
                  <header>
                    <h4>Top Categories</h4>
                    <a href="/categories">See All</a>
                  </header>
                  <div class="categories-list categs-slider">
                    <div class="slick-slide"><a href="/categories/graphics-design">
                      <span class="category-icon" aria-hidden="true" style="width: 48px; height: 48px;">
                        <img width="106" height="106" src="{% static 'svg/web-design-svgrepo-com.svg' %}">
                      </span>
                      <aside>
                        <h5>Graphics &amp; Design</h5>
                        <span>Logo Design, Brand Style Guides</span>
                      </aside>
                      </a>
                    </div>
                    <div class="slick-slide">
                      <a href="/categories/online-marketing">
                        <span class="fill-74767e category-icon" aria-hidden="true" style="width: 48px; height: 48px;">
                          <img width="106" height="106" src="{% static 'svg/online-marketing-advertising-svgrepo-com (1).svg' %}">
                        </span>
                        <aside>
                          <h5>Digital Marketing</h5>
                          <span>Social Media Advertising, Social Media Marketing</span>
                        </aside>
                      </a>
                    </div>
                    <div class="slick-slide">
                      <a href="/categories/writing-translation">
                        <span class="fill-74767e category-icon" aria-hidden="true" style="width: 48px; height: 48px;">
                          <img width="106" height="106" src="{% static 'svg/support-svgrepo-com.svg' %}">
                        </span>
                        <aside>
                          <h5>Writing &amp; Translation</h5>
                          <span>Articles &amp; Blog Posts, Resume Writing</span>
                        </aside>
                      </a>
                    </div>
                    <div class="slick-slide">
                      <a href="/categories/writing-translation">
                        <span class="fill-74767e category-icon" aria-hidden="true" style="width: 48px; height: 48px;">
                          <img width="106" height="106" src="{% static 'svg/programming-svgrepo-com.svg' %}">
                        </span>
                        <aside>
                          <h5>Programming &amp; Tech</h5>
                          <span>Website Builders, CMS, Software Architecture</span>
                        </aside>
                      </a>
                    </div>
                    <div class="slick-slide">
                      <a href="/categories/writing-translation">
                        <span class="fill-74767e category-icon" aria-hidden="true" style="width: 48px; height: 48px;">
                          <img width="106" height="106" src="{% static 'svg/web-design-svgrepo-com.svg' %}">
                        </span>
                        <aside>
                          <h5>Video &amp; Animation</h5>
                          <span>Video Editing, 3D Animations, Videography</span>
                        </aside>
                      </a>
                    </div>
                    <div class="slick-slide">
                      <a href="/categories/writing-translation">
                        <span class="fill-74767e category-icon" aria-hidden="true" style="width: 48px; height: 48px;">
                          <img width="106" height="106" src="{% static 'svg/review-svgrepo-com.svg' %}">
                        </span>
                        <aside>
                          <h5>Writing &amp; Translation</h5>
                          <span>Articles &amp; Blog Posts, Resume Writing</span>
                        </aside>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- ========== MOst popular listings =========== -->
                <section class="personalized-content">
                  <section class="recommendations-carousel gigs-sliding-carousel">
                    <header class="carousel-header">
                      <div class="titles">
                        <div class="title">
                          <header class="carousel-header">
                            <div class="titles">
                              <div class="title">
                                <h4>Most popular Services in&nbsp;<a target="_blank"</h4>
                              </div>
                            </div>
                          </header>
                        </div>
                      </div>
                      <a target="_blank" href="/" class="carousel-link show-more tbody-5">See All
                        <span class="fill-74767e link-icon" aria-hidden="true" style="width: 16px; height: 16px;">
                          <svg width="8" height="16" viewBox="0 0 8 16" xmlns="http://www.w3.org/2000/svg"><path d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"></path>
                          </svg>
                        </span>
                      </a>
                    </header>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="nav nav-tabs listing_nav">
                          <button class="" data-filter=".web-development">Web Development</button>
                          <button data-filter=".accountancy">Accountancy</button>
                          <button data-filter=".human-resources">Human Resources</button>
                          <button data-filter=".graphics">Graphics</button>
                        </div>
                        <!-- <ul class="nav nav-tabs listing_nav">
                          <li role="presentation"><a href="#" role="tab" data-filter=".web-development">Web Development</a></li>
                          <li class="active" role="presentation"><a href="#" role="tab" data-filter=".accountancy">Accountancy</a></li>
                          <li role="presentation"><a href="#" role="tab" data-filter=".human-resources">Human Resources</a></li>
                          <li role="presentation"><a href="#" role="tab" data-filter=".graphics">Graphics</a></li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="row listing-container listing__grid">
                      <!-- listing start -->
                      <a href="#" class="listing__item web-development" style="position:relative">
                        <div class="listing-detail">
                    			<div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                    			<div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                          <div class="listing-footer">
                            <ul>
                              <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                              <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                              <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                              <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                            </ul>
                          </div>
                    			<span class="bookmark-icon"></span>
                    		</div>
                      </a>
                      <!-- listing end -->
                      <!-- listing start -->
                      <a href="#" class="listing__item graphics" style="position:relative">
                        <div class="listing-detail">
                    			<div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                    			<div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                          <div class="listing-footer">
                            <ul>
                              <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                              <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                              <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                              <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                            </ul>
                          </div>
                    			<span class="bookmark-icon"></span>
                    		</div>
                      </a>
                      <!-- listing end -->
                      <!-- listing start -->
                      <a href="#" class="listing__item accountancy" style="position:relative">
                        <div class="listing-detail">
                    			<div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                    			<div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                          <div class="listing-footer">
                            <ul>
                              <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                              <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                              <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                              <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                            </ul>
                          </div>
                    			<span class="bookmark-icon"></span>
                    		</div>
                      </a>
                      <!-- listing end -->
                      <!-- listing start -->
                      <a href="#" class="listing__item human-resources" style="position:relative">
                        <div class="listing-detail">
                    			<div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                    			<div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                          <div class="listing-footer">
                            <ul>
                              <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                              <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                              <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                              <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                            </ul>
                          </div>
                    			<span class="bookmark-icon"></span>
                    		</div>
                      </a>
                      <!-- listing end -->
                      <!-- listing start -->
                      <a href="#" class="listing__item human-resources" style="position:relative">
                        <div class="listing-detail">
                    			<div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                    			<div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                          <div class="listing-footer">
                            <ul>
                              <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                              <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                              <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                              <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                            </ul>
                          </div>
                    			<span class="bookmark-icon"></span>
                    		</div>
                      </a>
                        <!-- listing end -->
                        <!-- listing start -->
                        <a href="#" class="listing__item web-development" style="position:relative">
                          <div class="listing-detail">
                            <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                            <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                            <div class="listing-footer">
                              <ul>
                                <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                              </ul>
                            </div>
                            <span class="bookmark-icon"></span>
                          </div>
                        </a>
                        <!-- listing end -->
                        <!-- listing start -->
                        <a href="#" class="listing__item graphics" style="position:relative">
                          <div class="listing-detail">
                            <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                            <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                            <div class="listing-footer">
                              <ul>
                                <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                              </ul>
                            </div>
                            <span class="bookmark-icon"></span>
                          </div>
                        </a>
                        <!-- listing end -->
                        <!-- listing start -->
                        <a href="#" class="listing__item accountancy" style="position:relative">
                          <div class="listing-detail">
                            <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                            <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                            <div class="listing-footer">
                              <ul>
                                <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                              </ul>
                            </div>
                            <span class="bookmark-icon"></span>
                          </div>
                        </a>
                        <!-- listing end -->
                        <!-- listing start -->
                        <a href="#" class="listing__item human-resources" style="position:relative">
                          <div class="listing-detail">
                            <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                            <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                            <div class="listing-footer">
                              <ul>
                                <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                              </ul>
                            </div>
                            <span class="bookmark-icon"></span>
                          </div>
                        </a>
                        <!-- listing end -->
                        <!-- listing start -->
                        <a href="#" class="listing__item human-resources" style="position:relative">
                          <div class="listing-detail">
                            <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                            <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                            <div class="listing-footer">
                              <ul>
                                <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                              </ul>
                            </div>
                            <span class="bookmark-icon"></span>
                          </div>
                        </a>
                        <!-- listing end -->
                        <!-- listing start -->
                        <a href="#" class="listing__item human-resources" style="position:relative">
                          <div class="listing-detail">
                      			<div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      			<div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                            <div class="listing-footer">
                              <ul>
                                <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                              </ul>
                            </div>
                      			<span class="bookmark-icon"></span>
                      		</div>
                        </a>
                          <!-- listing end -->
                          <!-- listing start -->
                          <a href="#" class="listing__item web-development" style="position:relative">
                            <div class="listing-detail">
                              <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                              <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                              <div class="listing-footer">
                                <ul>
                                  <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                  <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                  <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                  <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                                </ul>
                              </div>
                              <span class="bookmark-icon"></span>
                            </div>
                          </a>
                          <!-- listing end -->
                          <!-- listing start -->
                          <a href="#" class="listing__item graphics" style="position:relative">
                            <div class="listing-detail">
                              <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                              <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                              <div class="listing-footer">
                                <ul>
                                  <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                  <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                  <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                  <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                                </ul>
                              </div>
                              <span class="bookmark-icon"></span>
                            </div>
                          </a>
                          <!-- listing end -->
                          <!-- listing start -->
                          <a href="#" class="listing__item accountancy" style="position:relative">
                            <div class="listing-detail">
                              <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                              <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                              <div class="listing-footer">
                                <ul>
                                  <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                  <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                  <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                  <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                                </ul>
                              </div>
                              <span class="bookmark-icon"></span>
                            </div>
                          </a>
                          <!-- listing end -->
                          <!-- listing start -->
                          <a href="#" class="listing__item human-resources" style="position:relative">
                            <div class="listing-detail">
                              <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                              <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                              <div class="listing-footer">
                                <ul>
                                  <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                  <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                  <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                  <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                                </ul>
                              </div>
                              <span class="bookmark-icon"></span>
                            </div>
                          </a>
                          <!-- listing end -->
                          <!-- listing start -->
                          <a href="#" class="listing__item human-resources" style="position:relative">
                            <div class="listing-detail">
                              <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                              <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                              <div class="listing-footer">
                                <ul>
                                  <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                                  <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                                  <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                                  <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                                </ul>
                              </div>
                              <span class="bookmark-icon"></span>
                            </div>
                          </a>
                          <!-- listing end -->
                          <!-- listing start -->
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
{% endblock %}
