{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang='en'>
  {% include 'users/header.html' %}
  <body class="logged-out-body" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
    <style>html{margin-top:0 !important;}</style>
    <!-- Error container -->
    <div class="container error-container">
      <div class="alert" id="form_message" role="alert"></div>
            {% if messages %}
            <script>
              $(".error-container").toggleClass("show-message");
            </script>
              {% for message in messages %}
              <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message.message }}
              </div>
              {% endfor %}
            {% endif %}
    </div>
    <!-- MODALS -->
    <!-- Example -->
    <!-- Signup: Vertical  -->
    <div class="modal fade" id="modalSignup" tabindex="-1" role="dialog" aria-labelledby="modalSignupVerticalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="card">

            <!-- Close -->
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>

            <!-- Image -->
            <img src="{% static 'img/signup1.WebP' %}" alt="..." class="card-img-top">

            <!-- Shape -->
            <!-- <div class="inter-shapes">
              <div class="shape shape-bottom shape-fluid-x text-white">
                <svg viewBox="0 0 2880 480" fill="" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill=""></path></svg>          </div>
            </div> -->

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <h2 class="mb-0 fw-bold text-center" id="modalSignupVerticalTitle">
                Sign Up
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Simplify your workflow in minutes.
              </p>

              <!-- Form -->
              <form class="mb-6" method="POST">
                {% csrf_token %}
                <!-- User name -->
                <div class="form-group">
                  <label class="visually-hidden" for="modalSignupName">
                    Your username
                  </label>
                  <input type="text" name="signup-name" class="form-control" id="modalSignupName" placeholder="Your username" autocomplete="off" style="">
                </div>
                <!-- Email -->
                <div class="form-group">
                  <label class="visually-hidden" for="modalSignupEmail">
                    Your email
                  </label>
                  <input type="email" name="signup-email" class="form-control" id="modalSignupEmail" placeholder="Your email" autocomplete="off" style="">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                  <label class="visually-hidden" for="modalSignupPassword">
                    Create a password
                  </label>
                  <input type="password" name="signup-password" class="form-control" id="modalSignupPassword" placeholder="Create a password" autocomplete="off" style="background-image: url(); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>
                <!-- Password check -->
                <div class="form-group mb-5">
                  <label class="visually-hidden" for="modalSignupPasswordCheck">
                    Re-enter password
                  </label>
                  <input type="password" name="password-check" class="form-control" id="modalSignupPasswordCheck" placeholder="Re-enter password" autocomplete="off" style="background-image: url(); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>
                <!-- Terms checkbox -->
                <label class="form-group" for="modalSignupTerms">
                  Terms and agreements
                </label>
                <input type="checkbox" name="checkbox" id="modalSignupTerms" value="Agree">
                <br>
                <br>

                <!-- Captcha form -->
                <label class="form-group">
                  Please fill in the captcha check
                </label>
                 {{ form.captcha }}
                <!-- Submit -->
                <button class="btn w-100 btn-primary" name="form-type" value="signup-form" type="submit">
                  Sign up
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 fs-sm text-center text-muted">
                Already have an account? <a href="/#signinModal">Log in</a>.
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Signin: Vertical  -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="card">

            <!-- Close -->
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>

            <!-- Image -->
            <img src="{% static 'img/login2.WebP' %}" alt="..." class="card-img-top">

            <!-- Shape -->
            <!-- <div class="inter-shapes">
              <div class="shape shape-bottom shape-fluid-x text-white">
                <svg viewBox="0 0 2880 480" fill="" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill=""></path></svg>          </div>
            </div> -->

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <h2 class="mb-0 fw-bold text-center" id="modalSignin">
                Sign In
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Get into your account and start selling your skills.
              </p>

              <!-- Form -->
              <form class="mb-6" method="POST" action=".">
                {% csrf_token %}
                <!-- Email -->
                <div class="form-group">
                  <label class="visually-hidden" for="modalSigninName">
                    Your user name
                  </label>
                  <input type="text" name="signin-name" class="form-control" id="modalSigninName" placeholder="Your email" autocomplete="off" style="background-image: url(#); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                  <label class="visually-hidden" for="modalSigninPassword">
                    Enter your password
                  </label>
                  <input type="password" name="signin-password" class="form-control" id="modalSigninPassword" placeholder="Enter your password" autocomplete="off" style="background-image: url(#); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>

                <!-- Submit -->
                <button class="btn w-100 btn-primary" name="form-type" value="signin-form" type="submit">
                  Sign in
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 fs-sm text-center text-muted">
                Don't have an account yet? <a href="#modalSignup">Sign up</a>.
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Payment -->

    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg" >
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand site-logo" href="{% url 'home' %}">
          <img src="#" class="navbar-brand-img text-dark" alt="Logo here">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="icon ion-android-menu"></i>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

          <!-- Search form -->
          <form class="navbar-search form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">Search</button>
          </form>
          <!-- Navigation -->
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-decoration-none" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Explore
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Guides
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Community
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Blog
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-decoration-none" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    English
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Deutsch
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Romanian
                  </a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-decoration-none" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Currency
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link " data-bs-toggle="dropdown" href="#">
                    Eur
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link " data-bs-toggle="dropdown" href="#">
                    Usd
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link " data-bs-toggle="dropdown" href="#">
                    Ron
                  </a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-decoration-none" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Sell your Skills
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-decoration-none" id="navbarDocumentation" href="{% url 'logout' %}">
                Sign out
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-decoration-none" id="navbarDocumentation" data-toggle="modal" href="#signinModal">
                Sign in
              </a>
            </li>
            <li class="nav-item">
            <!-- Button -->
              <a class="nav-link text-decoration-none lift" data-toggle="modal" href="#modalSignup" >
                Join
              </a>
            </li>
            {% endif %}
          </ul>
          <!-- <button class="btn text-decoration-none text-danger" id="toggle-border" href="#" >
            B
          </button> -->

        </div>

      </div>
    </nav>
    <!-- ======= Main content ============ -->
    <div class="main-content">
      <div class="logged-out-homepage">
        <!-- WELCOME -->
        <section class="section_welcome pt-4 pt-md-11">
          <div class="container">
            <div class="row ">
              <div class="col-12 col-md-5 col-lg-6 order-md-2 px-3">

                <!-- Header Carousel -->
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'img/programmer.png' %}" alt="programmer">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'img/accountant.png' %}" alt="accountant">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'img/photographer.png' %}" alt="photographer">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'img/graphic-designer.png' %}" alt="graphic-designer">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'img/architect.png' %}" alt="architect">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'img/human-resources.png' %}" alt="human-resources">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate px-3" data-aos="fade-up">

                <!-- Heading -->
                <h1 class="display-5 text-center text-md-start">
                  Welcome to <span class="text-company">Dincolo</span>. <br>
                  Sell your skills.
                </h1>

                <!-- Text -->
                <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                  Find the Job that Fits your Life.
                </p>

                <!-- Buttons -->
                <div class="search_bar_container">
                  <form class="form-box" action="{% url 'search' %}">
                    <span class="srch-icon" aria-hidden="true" style="width: 16px; height: 16px;">
                      <svg width="20" height="20" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8906 14.6531L12.0969 10.8594C12.025 10.7875 11.9313 10.75 11.8313 10.75H11.4187C12.4031 9.60938 13 8.125 13 6.5C13 2.90937 10.0906 0 6.5 0C2.90937 0 0 2.90937 0 6.5C0 10.0906 2.90937 13 6.5 13C8.125 13 9.60938 12.4031 10.75 11.4187V11.8313C10.75 11.9313 10.7906 12.025 10.8594 12.0969L14.6531 15.8906C14.8 16.0375 15.0375 16.0375 15.1844 15.8906L15.8906 15.1844C16.0375 15.0375 16.0375 14.8 15.8906 14.6531ZM6.5 11.5C3.7375 11.5 1.5 9.2625 1.5 6.5C1.5 3.7375 3.7375 1.5 6.5 1.5C9.2625 1.5 11.5 3.7375 11.5 6.5C11.5 9.2625 9.2625 11.5 6.5 11.5Z">
                        </path>
                      </svg>
                    </span>
                    <input class="searchfield btn-primary-soft" name="keyword" type="search" autocomplete="off" placeholder="Try &quot;Law Advice&quot;" value="">
                    <button class="srch-btn">Search</button>
                  </form>
                </div>
                <div class="popular">
                  <h5>Popular:</h5>
                  <ul>
                    <li><a href="#" class="popular-text">Website Design</a></li>
                    <li><a href="#" class="popular-text">Financial Auditing</a></li>
                    <li><a href="#" class="popular-text">Tour operator</a></li>
                    <li><a href="#" class="popular-text">NFT Art</a></li>
                  </ul>
                </div>
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>

        <!-- FEATURED CATEGORIES -->
        <section class="pt-5 py-8 py-md-11 section-row border-bottom">
          <div class="container">
            <div class="row d-block">
              <div class="" data-aos="fade-up">
                <div class="sec-inner max-width-container">
                  <div class="row">
                    <div class="col-sm-12 px-5">
                      <h2>Popular Services</h2>
                    </div>
                    <div class="col-sm-12">
                      <div class="categories-slider">
                        <div>
                          <div class="subcategory-wrapper">
                            <a href="/" class="subcategory">
                              <h4><small>Become succesful online</small>SEO
                              </h4>
                              <picture>
                                <img alt="SEO" src="{% static 'img/seo.WebP' %}">
                              </picture>
                            </a>
                          </div>
                        </div>
                        <div>
                          <div class="subcategory-wrapper">
                            <a href="/" class="subcategory">
                              <h4><small>Attract attention</small>Photography
                              </h4>
                              <picture>
                                <img alt="photo" src="{% static 'img/photo.WebP' %}">
                              </picture>
                            </a>
                          </div>
                        </div>
                        <div>
                          <div class="subcategory-wrapper">
                            <a href="/" class="subcategory">
                              <h4><small>Be understood everywhere</small>Translation
                              </h4>
                              <picture>
                                <img alt="translation" src="{% static 'img/translation.WebP' %}">
                              </picture>
                            </a>
                          </div>
                        </div>
                        <div>
                          <div class="subcategory-wrapper">
                            <a href="/" class="subcategory">
                              <h4><small>Unlock perfection</small>Web Design
                              </h4>
                              <picture>
                                <img alt="webpage" src="{% static 'img/webpage.WebP' %}">
                              </picture>
                            </a>
                          </div>
                        </div>
                        <div>
                          <div class="subcategory-wrapper">
                            <a href="/" class="subcategory">
                              <h4><small>Be unique</small>Graphic Design
                              </h4>
                              <picture>
                                <img alt="graphic" src="{% static 'img/graphic.WebP' %}">
                              </picture>
                            </a>
                          </div>
                        </div>
                    </div>
                  </div> <!-- .row -->
                 </div> <!-- .container -->
               </div>
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>


        <!-- SELLING AD -->
        <section class="pt-8 pt-md-11 pb-8 pb-md-11 section-row selling" style="">
          <div class="container">
            <div class="row align-items-center justify-content-between mb-8 mb-md-11" data-aos="fade-left">
              <div class="col-12 col-md-8 col-lg-8 order-md-1 aos-init aos-animate" data-aos="fade-right">
                <div class="selling-text w-100">
                    <h2 class="">Best freelancers in eastern Europe</h2>
                      <ul class="mt-5">
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(147, 112, 219);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>Statement 1
                          </h6>
                          <p class="tbody-sec2">..............................................</p>
                        </li>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(147, 112, 219);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>Statement 2
                          </h6>
                          <p class="tbody-sec2">....................................................</p>
                        </li>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(147, 112, 219);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>Statement 3
                          </h6>
                          <p class="tbody-sec2">.........................................................</p>
                        </li>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(147, 112, 219);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z">
                                </path>
                              </svg>
                            </span>24/7 support
                          </h6>
                          <p class="tbody-sec2">Questions? Our round-the-clock support team is available to help anytime, anywhere.</p>
                        </li>
                      </ul>
                </div>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>

        <!-- TESTIMONIALS -->
        <section class="pt-10 section-row pt-md-12" style="z-index: 1000;">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-12 col-md-10 col-lg-8">
                <!-- Heading -->
                <h2>
                  Our customers are our biggest fans.
                </h2>
              </div>
            </div> <!-- / .row -->
            <div class="row justify-content-center">
              <div class="col-12">

                <!-- Carousel -->
                <div class="testimonials-slider">
                  <div class="item">
                    <picture class="image">
                      <img src="{% static 'img/hero1.WebP' %}">
                    </picture>
                    <blockquote>I refuse to accept the view that mankind is so tragically bound to the starless midnight of racism and war that the bright daybreak of peace and brotherhood can never become a reality... I believe that unarmed truth and unconditional love will have the final word.
                    </blockquote>
                    <cite> Martin Luther King, Jr.</cite>
                  </div>
                  <div class="item">
                    <picture class="image">
                      <img src="{% static 'img/hero3.WebP' %}">
                    </picture>
                    <blockquote> Peace is not a relationship of nations. It is a condition of mind brought about by a serenity of soul. Peace is not merely the absence of war. It is also a state of mind. Lasting peace can come only to peaceful people.
                    </blockquote>
                    <div class="pointing"></div>
                    <cite> Jawaharlal Nehru</cite>
                  </div>
                  <div class="item">
                    <picture class="image">
                      <img src="{% static 'img/hero2.WebP' %}">
                    </picture>
                    <blockquote> Forgiveness is not always easy. At times, it feels more painful than the wound we suffered, to forgive the one that inflicted it. And yet, there is no peace without forgiveness.
                    </blockquote>
                    <div class="pointing"></div>
                    <cite> Marianne Williamson</cite>
                  </div>
                  <div class="item">
                    <picture class="image">
                      <img src="{% static 'img/hero4.WebP' %}">
                    </picture>
                    <blockquote>Of all our dreams today there is none more important - or so hard to realise - than that of peace in the world. May we never lose our faith in it or our resolve to do everything that can be done to convert it one day into reality. </blockquote>
                    <div class="pointing"></div>
                    <cite> Lester B. Pearson</cite>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </section>
        <!-- SHAPE -->
        <div class="inter-shapes mt-5">
          <div class="shape shape-bottom shape-fluid-x text-gray-200">
            <svg viewBox="0 0 2880 480" fill="" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill=""></path></svg>      </div>
        </div>

        <!-- Popular listings -->
        <section class="pt-12 pt-md-13 section-row bg-gray-200">
          <div class="container">
            <div class="row w-100 mx-0">
              <div class="">

                <!-- Heading -->
                <h2>
                  Check out the most popular listings. <br>
                  <span class="text-primary"></span>
                </h2>

                <!-- Text -->
                <p class="fs-lg text-gray-700 mb-6">
                  You have a business to run. Stop worring about deadlines and get in contact with a professional.
                </p>
                <div class="row listing-container listing__grid">
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                  <!-- listing start -->
                  <a href="#" class="listing__item graphics" style="position:relative">
                    <div class="listing-detail">
                      <div class="listing-img"> <img src="{% static 'img/accountant.WebP' %}" alt=""> </div>
                      <div class="listing-title"><h3 class="">Web Designer, Graphic Designer, UI/UX Designer &amp; Art <span class="utf-verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified"></span></h3></div>
                      <div class="listing-footer">
                        <ul>
                          <li><i class="icon ion-ios-briefcase"></i> Software Developer</li>
                          <li><i class="icon ion-ios-calculator"></i> $12-$30 per hour</li>
                          <li><i class="icon ion-ios-location"></i> Str. Principala, Brasov 500338</li>
                          <li><i class="icon ion-ios-time"></i> 15 Minute Ago</li>
                        </ul>
                      </div>
                      <span class="bookmark-icon"></span>
                    </div>
                  </a>
                  <!-- listing end -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>

        <!-- GUIDES -->
        <section class="pt-9 pt-md-12 section-row bg-gray-200">
          <div class="container">
            <div class="row" style="position: relative;">
                <!-- Heading -->
                <h2>
                  Check out our guides. <br>
                  <span class="text-primary"></span>
                </h2>
                <a class="see-more-link" href="#" target="_blank">See More Guides
                  <span class="chevron-right" aria-hidden="true" style="width: 10px; height: 10px;">
                    <i class="icon ion-chevron-right"></i>
                  </span>
                </a>
                <div class="guides-grid">
                  <a href="#" class="guide col-12-xs col-6-sm col-4-md" target="_blank">
                    <picture>
                      <img alt="Start an online business and work from home" src="{% static 'img/accountant.WebP' %}" loading="lazy">
                    </picture>
                    <h6>Start an online business and work from home</h6>
                    <p>A complete guide to starting a small business online</p>
                  </a>
                  <a href="#" class="guide col-12-xs col-6-sm col-4-md" target="_blank">
                    <picture>
                      <img alt="Start an online business and work from home" src="{% static 'img/accountant.WebP' %}" loading="lazy">
                    </picture>
                    <h6>Digital marketing made easy</h6>
                    <p>A practical guide to understand what is digital marketing</p>
                  </a>
                  <a href="#" class="guide col-12-xs col-6-sm col-4-md" target="_blank">
                    <picture>
                      <img alt="Create a logo for your business" src="{% static 'img/accountant.WebP' %}" loading="lazy">
                    </picture>
                    <h6>Create a logo for your business</h6>
                    <p>A step-by-step guide to create a memorable business logo</p>
                  </a>
                </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>

        <!-- SHAPE -->

        <!-- CTA -->
        <section class="py-0 section-row py-md-0 cta">
          <div class="container">
            <div class="row w-100 justify-content-center justify-content-md-start">
              <div class="col-12 col-lg-8 text-center text-md-left">
                <div class="signup mb-0">
                  <div class="signup-text">
                    <h2 class="display-4">
                      <span>A <i>succesful</i> business needs <i>talent</i>. Find some <i>now</i> !</span>
                    </h2>
                    <a class="btn-signup" data-toggle="modal" href="#modalSignup">Get Started</a>
                  </div>
                </div>
              </div>
              <div class="col-0 col-lg-4 text-center d-lg-flex justify-content-center">
                <div class="signup-image">
                  <img src="{% static 'svg/hand-shake-svgrepo-com.svg' %}">
                </div>
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>


      </div> <!-- Logged out homepage end -->
    </div> <!-- Main content end -->
      <!-- FOOTER -->
      {% include 'users/footer.html' %}


    <!-- JAVASCRIPT -->
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js" integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- JS Custom -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Back to top -->
    <script src="{% static 'js/back_to_top.js' %}"></script>

  </body>
</html>
