{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang='en'>
  {% include 'users/header.html' %}
  <body data-spy="scroll" data-target=".navbar" data-offset="70">
    <div class="main-wrapper">
      <!--================= PRELOADER ======================= -->

      <!--  ===================HEADER=============================== -->
      <div class="main-header sticky">
        <div id="GlobalMessages"></div>
        <!-- === NAVBAR === -->
        <div id="Header">
          <nav class="navbar navbar-default navbar-fixed-top js-main-nav">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
                </button>
                <a class="navbar-brand" href="{% url 'maintenance' %}">Dincolo</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar__collapse">
                <ul class="nav navbar-nav navbar-right js-signin-modal-trigger">

                  <!-- General links -->
                  <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dincolo Business </a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <i class="las la-chevron-down"></i></a>
                    <ul class="dropdown-menu" style="">
                      <li style=""><a href="#">Guide</a><p style="font-size:12px;">In-depth guides for business and freelancers</p></li>
                      <li><a href="#">Learn</a><p style="font-size:12px;">Online courses for business and freelancers</p></li>
                      <li><a href="#">Community</a><p style="font-size:12px;">Connect with others like you and share experiences</p></li>
                      <li><a href="#">Blog</a><p style="font-size:12px;">Latest news, info and stories on freelancing and businesses</p></li>


                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <i class="las la-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                      <li ><a href="{% if language.code == LANGUAGE_CODE %} selected {% endif %}">{{ language.code|upper }}</a></li>
                      {% endfor %}
                    </ul>
                    <!-- <select class="dropdown-menu language" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.code|upper }}
                            </option>
                        {% endfor %}
                    </select> -->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Currency <i class="las la-chevron-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">USD</a></li>
                        <li><a href="#">RON</a></li>
                        <li><a href="#">BGN</a></li>


                      </ul>
                    </li>
                  <li><a class="cd-main-nav__item cd-main-nav__item--signin" href="#0" data-signin="login">Sign in</a></li>
          				<li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Sign up</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
          </nav>
        </div>
      </div>
      {% include 'users/register.html' %}

      <div class="main-content">
        <!-- ===================TO THE TOP BUTTON====================== -->
        <a id="back-to-top" href="#section_welcome" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
          <i class="ion-android-arrow-up"></i>
        </a>
      <!-- ================== CONTENT ====================== -->
        <div class="logged-out-homepage">
          <section class="section-row sec2-wrapper" style="background-color: black;height:400px;padding-top:100px;">
            <div class="sec-inner max-width-container">
              <div class="" style="flex:1;background-color: white;">
                <div class="" style="border: 5px solid #9370DB;padding-top:20px;padding-bottom:20px;text-align:center;justify-content:center;">
                    <h2 class="">Sorry!</h2>
                      <ul>
                        <li>
                          <h6>
                            <span class=" check-icon" aria-hidden="true" style="font-size: 32px;width: 24px; height: 24px; fill: rgb(122, 125, 133);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>We are under construction.
                          </h6>
                          <p class="tbody-sec2">But one of the best freelancers platform is coming soon...stay tuned.</p>
                        </li>
                      </ul>
                </div>
            </div>
          </section>
      <!-- ==================== SELLING PROP  =================== -->
          <section class="section-row sec2-wrapper" style="height:700px;padding-top:100px;">
            <div class="sec-inner max-width-container">
              <div class="selling-video">
                <div class="vid_wrapper">
                  <video autoplay muted loop id="vidbg">
                      <source src="{% static 'video/video-selling.mp4' %}" type="video/mp4">Your          browser does not support the video tag.
                  </video>
                </div>
              </div>
              <div class="grid-15 flex-items-center">
                <div class="selling-text">
                    <h2 class="">Best freelancers in eastern Europe</h2>
                      <ul>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(122, 125, 133);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>The best for every budget
                          </h6>
                          <p class="tbody-sec2">Find high-quality services at every price point. No hourly rates, just project-based pricing.</p>
                        </li>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(122, 125, 133);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>Quality work done quickly
                          </h6>
                          <p class="tbody-sec2">Find the right freelancer to begin working on your project within minutes.</p>
                        </li>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(122, 125, 133);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"></path>
                              </svg>
                            </span>Protected payments, every time
                          </h6>
                          <p class="tbody-sec2">Always know what you'll pay upfront. Your payment isn't released until you approve the work.</p>
                        </li>
                        <li>
                          <h6>
                            <span class="sec2-txt check-icon" aria-hidden="true" style="width: 24px; height: 24px; fill: rgb(122, 125, 133);">
                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"></path>
                                <path d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z">
                                </path>
                              </svg>
                            </span>24/7 support
                          </h6>
                          <p class="tbody-sec2">Questions? Our round-the-clock support team is available to help anytime, anywhere.</p>
                        </li>
                      </ul>
                </div>
                <div class="selling-map">
                  <img src="{% static 'svg/eu-map.svg' %}">
              </div><!-- grid-15 flex container end -->
            </div>
          </section>
          <div class="" id="newsletter">
          </div>
      </div>
  </div>
    {% include 'users/footer.html' %}
</div>
    <!-- JS
    ================================================== -->

    <!-- JS Global -->
    <script src="{% static 'plugins/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- JS Plugins -->
    <script src="{% static 'plugins/lightbox/dist/js/lightbox.min.js' %}"></script>
    <script src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <!-- <script src="{% static 'plugins/flickity/flickity.pkgd.min.js' %}"></script> -->
    <script src="{% static 'plugins/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <!-- JS Custom -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script async src="{% static 'js/google_maps.js' %}"></script>
    <!-- Google Maps -->
    <script src="{% static 'js/back_to_top.js' %}"></script>
  </body>
</html>
