<nav class="navbar navbar-default navbar-fixed-top js-main-nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Dincolo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar__collapse">
      <ul class="nav navbar-nav navbar-right js-signin-modal-trigger">

        <!-- General links -->
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dincolo Business </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <i class="las la-chevron-down"></i></a>
          <ul class="dropdown-menu" style="">
            <li style=""><a href="#">Guide</a><p style="font-size:12px;">In-depth guides for business and freelancers</p></li>
            <li><a href="#">Learn</a><p style="font-size:12px;">Online courses for business and freelancers</p></li>
            <li><a href="#">Community</a><p style="font-size:12px;">Connect with others like you and share experiences</p></li>
            <li><a href="#">Blog</a><p style="font-size:12px;">Latest news, info and stories on freelancing and businesses</p></li>


          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <i class="las la-chevron-down"></i></a>
          <ul class="dropdown-menu">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <li ><a href="{% if language.code == LANGUAGE_CODE %} selected {% endif %}">{{ language.code|upper }}</a></li>
            {% endfor %}
          </ul>
          <!-- <select class="dropdown-menu language" name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                      {{ language.code|upper }}
                  </option>
              {% endfor %}
          </select> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Currency <i class="las la-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">EUR</a></li>
              <li><a href="#">USD</a></li>
              <li><a href="#">RON</a></li>
              <li><a href="#">BGN</a></li>


            </ul>
          </li>
        <li><a class="cd-main-nav__item cd-main-nav__item--signin" href="#0" data-signin="login">Sign in</a></li>
        <li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Sign up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
