/*---------------
    Legend
-----------------*/
/*
1. Fonts
2. Root variables
3.
4.
5.
6.
7.
8.

*/
/* -----------------
      fonts
-------------------*/
@import url('https://fonts.googleapis.com/css?family=Oregano|Raleway|Helvetica:400,700,700');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
/*-------------------
      Colors
 --------------------*/
 :root {
   /* --themecolor: rgba(204, 153, 255, 1); */
   /* --themecolor: #5EC9CC; */
   --themecolor2: rgba(147, 112, 219, 0.9);
   --themecolortransparent: rgba(147, 112, 219, 0.1);
   --themecolordropdowns: rgba(147, 112, 219, 0.5);
   --bs-body-color:;
   --bs-body-bg:;
   --bs-body-font-family:;
   --bs-body-font-size:;
   --bs-body-font-weight:;
   --bs-body-text-align:;
   --font-family-nav: "Raleway", sans-serif;
   --font-weight-nav: 700;
 }

 /*-------------------
      html
---------------------*/
html {
    overflow-x: hidden;
}
 /*-------------------
      Body
---------------------*/
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(22,28,45,0);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}
.pt-8 {
    padding-top: 3rem!important;
}
.pb-8 {
    padding-bottom: 3rem!important;
}
.section-row {
    margin: 0 auto 48px;
}
@media only screen and (min-width: 600px) {
.section-row {
    margin-bottom: 80px;}
}
@media only screen and (min-width: 900px) {
.section-row {
    margin-bottom: 96px;}
}
ul, ol {
  list-style: none;
}
h1, h2, h3, h4, h5 {
  /* margin-top: 2em;
  margin-bottom: 2em; */
}
@media (min-width: 768px){
  .pt-md-11 {
    padding-top: 6rem!important;}
  .pb-md-11 {
    padding-bottom: 6rem!important;}
}
.pt-10 {
    padding-top: 5rem!important;
}
@media (min-width: 768px) {
.pt-md-12 {
    padding-top: 8rem!important;}
}
.mb-6 {
    margin-bottom: 2rem!important;
}
.shadow-light-lg {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
}
.error-container {
  display: none;
  overflow: hidden;
}
.error-container.show-message {
  display: block;
  overflow: auto;
}
.inter-shapes {
  fill: var(--themecolor2);
}
/*--------------------
    MODALS
---------------------*/

 /*-------------------
       NAVBAR
  --------------------*/
nav ul li {
  display: inline-block;
  position: relative;
}

.navbar.header-transparent {
  background-color: transparent;
  transition: 1s;
}
.navbar {
  /* align-items: flex-end; */
  z-index: 900;
  width: 100%;
  background-color: var(--themecolor2);
}
/* .navbar.scrolled {
  background-color: var(--themecolor2);
} */
/* .navbar .container {
  margin: 0px 2rem 0px;
  width: 100%;
  align-items: center;
  -webkit-box-align: center;
} */
.dropdown-menu {
  background-color: var(--themecolordropdowns);
  margin-top: 8.5px;
}
.dropdown-menu li {
    margin: 0;
    padding: 5px 7px;
}
.dropdown-menu li a {
  color: white;
  display: flex;

}
.dropdown-menu li:hover {
  background-color: var(--themecolor2);
}
.logged-out-body .navbar .navbar-search {
  display: none;
}
.logged-out-body .navbar .navbar-search.show {
  display: block;
}
.navbar .navbar-search {
  float: left;
  margin-left: 0 auto;
}
.navbar-collapse .navbar-nav {
  margin-left: auto;
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
  width: 9em;
  justify-content: center;
  font-family: var(--font-family-nav);
  font-weight: var(--font-weight-nav);
}
.navbar-collapse .navbar-nav .nav-item .nav-link.show-border {
  border: 1px solid white;
}
.navbar-collapse .navbar-nav .lift {
  transition: box-shadow .25s ease,transform .25s ease;
  border: 1px solid white;

}
.navbar .navbar-search .btn {
  border: 1px solid white;
}
.navbar .navbar-toggler {
  color: white;
}
/* .navbar .btn-lila {
  background-color: var(--themecolor2);
  color: white;
} */
.nav-item button {
  align-items: center;
  height: 2.15em;
  background-color: inherit;
  color: white;
}
.nav-item button .icon {
  font-size: 25px;
}
.nav-item .icon {
  font-size: 25px;
}
.nav-item .notifications-btn {
  background: #eeeeee;
    border-radius: 50px;
    width: 3em;
    justify-content: center;
    align-items: center;
    height: 42px;
    text-align: center;
    position: relative;

    /* top: 50%; */
}
.nav-item .profile-btn {
  width: 5em;
  justify-content: center;
  text-align: center;
}
.nav-item .profile-btn a span {
  height: 4em;
}
.notifications-btn a {
    font-size: 22px;
    color: #333;
    position: absolute;
    /* top: 50%; */
    transform: translate3d(0, -50%, 0);
}
.notifications-btn span {
    align-items: center;
}
.notifications-btn span.icon {
}
.notifications-dropdown-block, .account-dropdown-block {
    width: 360px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 12%);
    /* background-color: #fff; */
    margin-top: 50px !important;
    margin-right: -50px !important;
    position: absolute;
    /* top: calc(100% - 10px); */
    text-align: left;
    z-index: 100;
    /* transform: scale(0.95); */
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transform: scale(1); */
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding: 0;
    margin: 0;
    list-style: none;
    /* transition: 0.3s; */
    /* pointer-events: none; */
}
.notifications-dropdown-block li {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e6e6e6;
  transition: 0.25s;
  position: relative;
}
.notifications-dropdown-block li a {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    position: relative;
    padding: 15px 12px;
}
.notifications-dropdown-block .notification-icon {
    font-size: 18px;
    height: 38px;
    width: 38px;
    max-width: 38px;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    color: #a0a0a0;
    transition: 0.25s;
    position: relative;
}
.notification-text, .notifications-dropdown-block .notification-text {
    padding-left: 12px;
    padding-right: 0px;
    display: inline-block;
    line-height: 23px;
    font-size: 14.3px;
}
.notifications-dropdown-block .notification-icon, .notifications-dropdown-block .notification-text {
    flex: 1;
}
.notifications-dropdown-block .notification-icon i {
    position: relative;
}
.notification-text strong, .notifications-dropdown-block .notification-text strong {
    font-weight: 600;
    color: grey;
}
/*---------------
      DASHBOARD
-----------------*/
.dashboard-container {
  display: block;
  width: 100%;
  flex-wrap: wrap;
  height: auto !important;

}
@media (min-width: 992px) {
  .dashboard-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* height: calc(100vh - 76px); */
  }
}
@media (min-width: 1099px) {
.full-page-container, .dashboard-container {
    }
}
.dashboard-sidebar {
  flex: 1;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  height: auto !important;
}
@media (min-width: 992px) {
  .dashboard-sidebar {
    flex: 0 0 280px;
    background-color: var(--themecolortransparent);
    position: relative;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    z-index: 100;}
}
.dashboard-sidebar .dashboard-sidebar-inner {
  padding-bottom: 0px;
  height: auto !important;
}

@media (min-width: 992px) {
  .dashboard-sidebar .dashboard-sidebar-inner {
    overflow: auto;
    height: 100%;
    }
  [data-simplebar="init"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
  }

  [data-simplebar] {
      position: relative;
      z-index: 0;
      overflow: hidden!important;
      max-height: inherit;
      -webkit-overflow-scrolling: touch;
  }
}
.full-page-sidebar .simplebar-track, .dashboard-sidebar .simplebar-track {
    display: none;
}
@media (min-width: 992px) {
  .simplebar-track.vertical {
      top: 0;
  }
  .simplebar-track {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 11px;
      height: calc(100% - 6px);
      margin-top: 6px;
  }
}
.simplebar-scrollbar {
    position: absolute;
    right: 6px;
    width: 5px;
    min-height: 10px;
}
.dashboard-sidebar .simplebar-content {
    overflow-x: hidden;
}
@media (max-width: 992px) {
  .simplebar-content {
    overflow-y: hidden!important;
    overflow-x: scroll;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    min-height: 100%!important;}
}
.dashboard-sidebar .dashboard-nav-container, .dashboard-content-inner {
    padding: 15px;
}
@media (min-width: 992px) {

}
a.dashboard-trigger .hamburger-inner-item, a.dashboard-trigger .hamburger-inner-item::before, a.dashboard-trigger .hamburger-inner-item::after {
    background-color: #fff;
}
a.dashboard-trigger {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    background-color: var(--themecolor2);
    border-radius: 4px;
    color: #fff;
    padding: 15px 20px;
    font-weight: 600;
    transition: 0.2s;
    display: block;
    text-align: center;
    line-height: 26px;
}

@media (min-width: 992px) {
  a.dashboard-trigger {
      display: none;
  }
}
.hamburger-inner-item::before, .hamburger-inner-item::after {
    content: "";
    display: block;
}
.hamburger-inner-item, .hamburger-inner-item::before, .hamburger-inner-item::after {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-collapse-item .hamburger-inner-item::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background-color: #fff;
}
@media (min-width: 992px) {
  a.dashboard-trigger .hamburger-inner-item, a.dashboard-trigger .hamburger-inner-item::before, a.dashboard-trigger .hamburger-inner-item::after {
    background-color: #000;}
}
.dashboard-nav {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    border-radius: 6px;
    position: relative;
    min-height: auto;
    opacity: 1;
    visibility: hidden;
    max-height: 0;
    padding: 0;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background: #2b2b2b;
}
.dashboard-nav.active .dashboard-profile-box, .dashboard-nav.active {
    opacity: 1;
    visibility: visible;
    display: block;
    max-height: 900px;
}
.dashboard-nav-inner {
    padding: 0;
    margin-bottom: 0;
}
.dashboard-profile-box {
    display: none;
}
@media (min-width: 992px) {
  .dashboard-profile-box {
    margin: 10px 0 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #454545;
    float: left;
    width: 100%;
  }
}
.dashboard-profile-box > span.avatar-img {
    float: left;
    width: 100px;
    height: auto;
    padding: 10px 17px 10px 20px;
}
/* .dashboard-profile-box > span {
    display: block;
    text-align: left;
    padding-left: 90px;
} */
.dashboard-profile-box > span {
    display: block;
    text-align: center;
}
.dashboard-profile-box img {
    margin-bottom: 0px;
    border-radius: 50px;
    height: auto;
    width: 60px;
}
.dashboard-profile-box .user-profile-text {
    float: left;
    margin-top: 14px;
    width: 160px;
}
.dashboard-profile-box .fullname {
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 16px;
}
.dashboard-profile-box .user-role {
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 600;
}
.dashboard-nav.active ul, .dashboard-nav.active {
  opacity: 1;
  visibility: visible;
  max-height: 900px;
}
.dashboard-nav ul {
  margin-top: 15px;
}
.dashboard-nav ul, .dashboard-nav.active ul li ul, .dashboard-nav ul li ul {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .dashboard-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.dashboard-nav ul:before {
  padding: 0 29px;
}
@media (min-width: 992px) {
  .dashboard-nav ul:before {
    content: attr(data-submenu-title);
    padding: 0 35px;
    margin-bottom: 0px;
    display: block;
    color: #66676b;
    font-weight: 600;
    font-size: 14px;}
}
.dashboard-nav ul li {
    display: block;
    border-left: 4px solid transparent;
    transition: 0.3s;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.dashboard-nav ul li.active-submenu, .dashboard-nav ul li.active, .dashboard-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.dashboard-nav ul li:hover, .dashboard-nav ul li.active {
    border-color: #ffffff;
}
.dashboard-nav ul li.active, .dashboard-nav ul li:hover, .dashboard-nav ul li.active-submenu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}
.dashboard-nav ul li.active-submenu, .dashboard-nav ul li.active, .dashboard-nav ul li:hover {
    border-color: #66676b;
    background-color: rgba(102,103,107,0.04);
}
.dashboard-nav ul li:hover a, .dashboard-nav ul li.active a {
    color: var(--themecolor2);
}
.dashboard-nav ul li.active-submenu a, .dashboard-nav ul li:hover a, .dashboard-nav ul li.active a {
    color: #66676b;
}
.dashboard-nav ul li a {
    padding: 12px 20px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    display: block;
}
@media (min-width: 992px) {
  .dashboard-nav ul li a {
    padding: 12px 25px;
  }
}
/*---------------
      TESTIMONIALS
-----------------*/
.card {
    position: relative;
    width: 100%;
}
.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid #f1f4f8;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
/*-------------------------
      LISTINGS
---------------------------*/
.listing-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.listing-container .listing__item {
  box-shadow: none;
  margin: 0.1em 0.5em 0.1em;
  padding: 25px 30px;
  /* padding-right: 60px; */
  display: flex;
  width: 22em;
  height: 20em;
  float: left;
  background-color: var(--themecolortransparent);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
  z-index: 100;
  transition: 0.3s;
  position: relative;
}
.listing-container .listing__item:after {
    /* position: absolute; */
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .08;
    z-index: -1;
}
.listing-container .listing-detail {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding-bottom: 32px;
}
.listing-container .listing__item .listing-img {
    /* width: 80px;
    height: 80px;
    margin-right: 25px;
    top: 0;
    padding: 2px;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 50px; */
    flex: 1;
    max-width: 200px;
    margin-right: 25px;
    position: relative;
    top: 3px;
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.08);
}
.listing-container .listing__item .listing-img img {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 50px;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
}
.listing-container .listing__item .listing-title {
    flex: 1;
    padding-top: 0px;
    margin-top: -2px;
}
.listing-container .listing__item .listing-title h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}
.listing-container .listing__item .listing-footer {
    background-color: transparent;
    margin-top: 3px;
    padding: 20px 35px;
    border-radius: 0 0 4px 4px;
    position: relative;
}
.listing-container .listing__item .listing-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: row; */
}
.listing__item .listing-footer ul li {
    background: #ffffff;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 5px;
    color: #8c8c8c;
    width: 50%;
    height: 2em;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}
.listing__item .listing-footer ul li i.icon {
    color: var(--themecolor2);
}
/*-------------------------
      FOOTER
---------------------------*/
footer.section_footer {
  background-color: var(--themecolor2) !important;
}
.bottom-shape svg {
  fill: var(--themecolor2) !important;
}
.section_footer img {
  vertical-align: top;
  font-size: 20px;
}
.text-decoration-none {
  text-decoration: none;
}
.section_footer .list-social li i.icon {
  color: white;
}
