/*---------------
    Legend
-----------------*/
/*
1. Fonts
2. Root variables
3.
4.
5.
6.
7.
8.

*/
/* -----------------
      fonts
-------------------*/
@import url('https://fonts.googleapis.com/css?family=Oregano|Raleway|Helvetica:400,700,700');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
/*-------------------
      Colors
 --------------------*/
 :root {
   /* --themecolor: rgba(204, 153, 255, 1); */
   /* --themecolor: #5EC9CC; */
   --themecolor2: rgba(147, 112, 219, 0.9);
   --themecolortransparent: rgba(147, 112, 219, 0.1);
   --themecolordropdowns: rgba(147, 112, 219, 0.5);
   --themecolorheadlines: rgba(64, 65, 69);
   --themecolorgreybg: rgba(100,100,100, 0.5);
   --dashboardlinkslight: rgba(255, 255, 255);
   --dashboardlinksdark: rgba(64, 65, 69);
   --bs-body-color:;
   --bs-body-bg:;
   --bs-body-font-family:;
   --bs-body-font-size:;
   --bs-body-font-weight:;
   --bs-body-text-align:;
   --font-family-nav: "Raleway", sans-serif;
   --font-weight-nav: 700;
 }

 /*-------------------
      html
---------------------*/
html {
    overflow-x: hidden;
}
 /*-------------------
      Body
---------------------*/
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(22,28,45,0);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}
.pt-8 {
    padding-top: 3rem!important;
}
.pb-8 {
    padding-bottom: 3rem!important;
}
.section-row {
    margin: 0 auto 48px;
}
@media only screen and (min-width: 600px) {
.section-row {
    margin-bottom: 80px;}
}
@media only screen and (min-width: 900px) {
.section-row {
    margin-bottom: 96px;}
}
ul, ol {
  list-style: none;
}
h1, h2, h3, h4, h5 {
  /* margin-top: 2em;
  margin-bottom: 2em; */
}
@media (min-width: 768px){
  .pt-md-11 {
    padding-top: 6rem!important;}
  .pb-md-11 {
    padding-bottom: 6rem!important;}
}
.pt-10 {
    padding-top: 5rem!important;
}
@media (min-width: 768px) {
.pt-md-12 {
    padding-top: 8rem!important;}
}
.mb-6 {
    margin-bottom: 2rem!important;
}
.shadow-light-lg {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
}
.error-container {
  display: none;
  overflow: hidden;
}
.error-container.show-message {
  display: block;
  overflow: auto;
}
.inter-shapes {
  fill: var(--themecolor2);
}
/*--------------------
    MODALS
---------------------*/

 /*-------------------
       NAVBAR
  --------------------*/
nav ul li {
  display: inline-block;
  position: relative;
}

.navbar.header-transparent {
  background-color: transparent;
  transition: 1s;
}
.navbar {
  /* align-items: flex-end; */
  z-index: 1100;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--themecolorheadlines)
}
/* .navbar.scrolled {
  background-color: var(--themecolor2);
} */
/* .navbar .container {
  margin: 0px 2rem 0px;
  width: 100%;
  align-items: center;
  -webkit-box-align: center;
} */
.dropdown-menu {
  background-color: var(--themecolordropdowns);
  margin-top: 8.5px;
}
.dropdown-menu li {
    margin: 0;
    padding: 5px 7px;
}
.dropdown-menu li a {
  color: var(--themecolorheadlines);
  display: flex;

}
.dropdown-menu li:hover {
  background-color: var(--themecolor2);
}
.logged-out-body .navbar .navbar-search {
  display: none;
}
.logged-out-body .navbar .navbar-search.show {
  display: block;
}
.navbar .navbar-search {
  float: left;
  margin-left: 0 auto;
}
.navbar-collapse .navbar-nav {
  margin-left: auto;
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
  width: 9em;
  color: var(--themecolorheadlines);
  justify-content: center;
  font-family: var(--font-family-nav);
  font-weight: var(--font-weight-nav);
}
.navbar-collapse .navbar-nav .nav-item .nav-link.show-border {
  border: 1px solid white;
}
.navbar-collapse .navbar-nav .lift {
  transition: box-shadow .25s ease,transform .25s ease;
  border: 1px solid white;

}
.navbar .navbar-search .btn {
  border: 1px solid white;
}
.navbar .navbar-toggler {
  color: var(--themecolorheadlines);
}
/* .navbar .btn-lila {
  background-color: var(--themecolor2);
  color: white;
} */
.nav-item button {
  align-items: center;
  height: 2.15em;
  background-color: inherit;
  color: white;
}
.nav-item button .icon {
  font-size: 25px;
}
.nav-item .icon {
  font-size: 25px;
}
.nav-item .notifications-btn {
  background: #eeeeee;
    border-radius: 50px;
    width: 3em;
    justify-content: center;
    align-items: center;
    height: 42px;
    text-align: center;
    position: relative;

    /* top: 50%; */
}
.nav-item .profile-btn {
  width: 5em;
  justify-content: center;
  text-align: center;
}
.nav-item .profile-btn a span {
  height: 4em;
}
.notifications-btn a {
    font-size: 22px;
    color: #333;
    position: absolute;
    /* top: 50%; */
    transform: translate3d(0, -50%, 0);
}
.notifications-btn span {
    align-items: center;
}
.notifications-btn span.icon {
}
.notifications-dropdown-block, .account-dropdown-block {
    width: 360px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 12%);
    /* background-color: #fff; */
    margin-top: 50px !important;
    margin-right: -50px !important;
    position: absolute;
    /* top: calc(100% - 10px); */
    text-align: left;
    z-index: 100;
    /* transform: scale(0.95); */
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transform: scale(1); */
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding: 0;
    margin: 0;
    list-style: none;
    /* transition: 0.3s; */
    /* pointer-events: none; */
}
.notifications-dropdown-block li {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e6e6e6;
  transition: 0.25s;
  position: relative;
}
.notifications-dropdown-block li a {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    position: relative;
    padding: 15px 12px;
}
.notifications-dropdown-block .notification-icon {
    font-size: 18px;
    height: 38px;
    width: 38px;
    max-width: 38px;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    color: #a0a0a0;
    transition: 0.25s;
    position: relative;
}
.notification-text, .notifications-dropdown-block .notification-text {
    padding-left: 12px;
    padding-right: 0px;
    display: inline-block;
    line-height: 23px;
    font-size: 14.3px;
}
.notifications-dropdown-block .notification-icon, .notifications-dropdown-block .notification-text {
    flex: 1;
}
.notifications-dropdown-block .notification-icon i {
    position: relative;
}
.notification-text strong, .notifications-dropdown-block .notification-text strong {
    font-weight: 600;
    color: grey;
}
/*---------------
      DASHBOARD
-----------------*/
.dashboard-container {
  display: block;
  width: 100%;
  flex-wrap: wrap;
  height: auto !important;
}
@media (min-width: 992px) {
  .dashboard-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* height: calc(100vh - 76px); */
  }
}
@media (min-width: 1099px) {
.full-page-container, .dashboard-container {
    }
}
.dashboard-sidebar {
  flex: 1;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  height: auto !important;
}
@media (min-width: 992px) {
  .dashboard-sidebar {
    flex: 0 0 280px;
    background-color: var(--themecolordropdowns);
    position: relative;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    z-index: 100;}
}
.dashboard-sidebar .dashboard-sidebar-inner {
  padding-bottom: 0px;
  height: auto !important;
}

@media (min-width: 992px) {
  .dashboard-sidebar .dashboard-sidebar-inner {
    overflow: auto;
    height: 100%;
    }
  [data-simplebar="init"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
  }

  [data-simplebar] {
      position: relative;
      z-index: 0;
      overflow: hidden!important;
      max-height: inherit;
      -webkit-overflow-scrolling: touch;
  }
}
#breadcrumbs ul li:first-child {
    margin-left: 0;
}
#breadcrumbs ul li a {
    color: black;
}
#breadcrumbs ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 7px;
}
#breadcrumbs ul li:before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    font-size: 14px;
    margin-right: 12px;
}
#breadcrumbs ul li:first-child:before {
    content: none;
}
.simplebar-scroll-content {
    overflow-x: hidden!important;
    overflow-y: scroll;
    min-width: 100%!important;
    max-height: inherit!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.full-page-sidebar .simplebar-track, .dashboard-sidebar .simplebar-track {
    display: none;
}
@media (min-width: 992px) {
  .simplebar-track.vertical {
      top: 0;
  }
  .simplebar-track {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 11px;
      height: calc(100% - 6px);
      margin-top: 6px;
  }
}
.simplebar-scrollbar {
    position: absolute;
    right: 6px;
    width: 5px;
    min-height: 10px;
}
.dashboard-sidebar .simplebar-content {
    overflow-x: hidden;
}
@media (max-width: 992px) {
  .simplebar-content {
    overflow-y: hidden!important;
    overflow-x: scroll;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    min-height: 100%!important;}
}
/* .dashboard-container .dashboard-content {
  width: 100%;
} */
.dashboard-sidebar .dashboard-nav-container, .dashboard-content-inner {
    padding: 15px;
}
@media (min-width: 992px) {

}
a.dashboard-trigger .hamburger-inner-item, a.dashboard-trigger .hamburger-inner-item::before, a.dashboard-trigger .hamburger-inner-item::after {
    background-color: #fff;
}
a.dashboard-trigger {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    border:1px solid var(--themecolorheadlines);
    border-radius: 4px;
    color: var(--themecolorheadlines);
    padding: 15px 20px;
    font-weight: 600;
    transition: 0.2s;
    display: block;
    text-align: center;
    line-height: 26px;
}

@media (min-width: 992px) {
  a.dashboard-trigger {
      display: none;
  }
}
.hamburger-inner-item::before, .hamburger-inner-item::after {
    content: "";
    display: block;
}
.hamburger-inner-item, .hamburger-inner-item::before, .hamburger-inner-item::after {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-collapse-item .hamburger-inner-item::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background-color: #fff;
}
@media (min-width: 992px) {
  a.dashboard-trigger .hamburger-inner-item, a.dashboard-trigger .hamburger-inner-item::before, a.dashboard-trigger .hamburger-inner-item::after {
    background-color: #000;}
}
.dashboard-nav.mobile {
  width: 100%;
    margin: 0;
    margin-top: 10px;
    border-radius: 6px;
    position: relative;
    min-height: auto;
    opacity: 1;
    visibility: hidden;
    max-height: 0;
    padding: 0;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background: #2b2b2b;
}
@media (min-width: 992px) {
  .dashboard-nav {
    display: block;
    z-index: 11;
    padding-bottom: 30px;
  }
}
.dashboard-nav.active .dashboard-profile-box, .dashboard-nav.active {
    opacity: 1;
    visibility: visible;
    display: block;
    max-height: 900px;
}
.dashboard-nav-inner {
    padding: 0;
    margin-bottom: 0;
}
.dashboard-profile-box {
    display: none;
}
@media (min-width: 992px) {
  .dashboard-profile-box {
    display: block;
    margin: 10px 0 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #454545;
    float: left;
    width: 100%;

  }
}
.dashboard-profile-box > span.avatar-img {
    float: left;
    width: 100px;
    height: auto;
    padding: 10px 17px 10px 20px;
}
.dashboard-profile-box > span {
    display: block;
    text-align: left;
    padding-left: 90px;
}
.dashboard-profile-box > span {
    display: block;
    text-align: center;
}
.dashboard-profile-box img {
    margin-bottom: 0px;
    border-radius: 50px;
    height: auto;
    width: 60px;
}
.dashboard-profile-box .user-profile-text {
    float: left;
    margin-top: 14px;
    width: 160px;
}
.dashboard-profile-box .fullname {
    color: var(--dashboardlinksdark);
    display: block;
    font-weight: 900;
    font-size: 23px;
}
.dashboard-profile-box .user-role {
    color: var(--dashboardlinksdark);
    font-size: 15px;
    font-weight: 600;
}
.dashboard-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard-nav.active ul, .dashboard-nav.active {
  opacity: 1;
  visibility: visible;
  max-height: 900px;
}
.dashboard-nav ul {
  margin-top: 15px;
}
/* .dashboard-nav.mobile ul, .dashboard-nav.mobile.active ul li ul, .dashboard-nav.mobile ul li ul {
  visibility: hidden;
  opacity: 1;
  max-height: 0;
  transition: all 0.3s;
} */
@media (min-width: 992px) {
  .dashboard-nav ul {
    visibility: visible;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.dashboard-nav ul:before {
  padding: 0 29px;
}
@media (min-width: 992px) {
  .dashboard-nav ul:before {
    content: attr(data-submenu-title);
    padding: 0 35px;
    margin-bottom: 0px;
    display: block;
    color: var(--dashboardlinksdark);
    font-weight: 600;
    font-size: 14px;}
}
.dashboard-nav ul li {
    display: block;
    border-left: 4px solid transparent;
    transition: 0.3s;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.dashboard-nav ul li.active-submenu, .dashboard-nav ul li.active, .dashboard-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.dashboard-nav ul li:hover, .dashboard-nav ul li.active {
    border-color: var(--themecolor2);
}
.dashboard-nav ul li.active, .dashboard-nav ul li:hover, .dashboard-nav ul li.active-submenu {
    border-bottom: 1px solid  var(--themecolor2) !important;
}
.dashboard-nav ul li.active-submenu, .dashboard-nav ul li.active, .dashboard-nav ul li:hover {
    border-color: var(--themecolor2);
    background-color: rgba(102,103,107,0.1);
}
.dashboard-nav ul li:hover a, .dashboard-nav ul li.active a {
    color: var(--themecolor2);
}
.dashboard-nav ul li.active-submenu a, .dashboard-nav ul li:hover a, .dashboard-nav ul li.active a {
    color: var(--dashboardlinksdark);
}
.dashboard-nav ul li a {
    padding: 12px 20px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    color: var(--dashboardlinksdark);
    display: block;
}
@media (min-width: 992px) {
  .dashboard-nav ul li a {
    padding: 12px 25px;
  }
}
.dashboard-nav ul li ul {
    padding: 0;
    margin: 0;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    line-height: 0;
    transition: 0.3s;
    pointer-events: none;
}
.dashboard-nav ul li.active-submenu ul {
    visibility: visible;
    padding: 0;
    opacity: 1;
    max-height: 200px;
    pointer-events: all;
}
.dashboard-headline-item {
    text-align: center;
    padding: 40px 15px;
    margin: 0px 0 0;
    margin-top: 0px;
    border-bottom: 1px solid var(--themecolorheadlines);
}
#dashboard-titlebar {
    position: relative;
    background-position: center;
    background-size: cover;
    color: var(--themecolorheadlines);
}
@media (min-width: 768px) {
  .dashboard-headline-item {
      display: block;
      position: relative;
      margin-bottom: 0px;
      padding: 50px 40px;
      /* border-bottom: 1px solid #eeeeee; */
  }
}

@media (min-width: 992px) {
.dashboard-headline-item {
    padding: 20px 10px;}
}
.dashboard-sidebar-item .dashboard-nav-container, .dashboard-content {
  padding: 15px;
  min-height: auto !important;
}
@media (min-width: 992px) {
  .dashboard-content {
    flex: 1;
    background-color: #f9f9f9;
    padding: 0;
    overflow: auto;
    position: relative;
    z-index: 99;
  }
}
.inner-dashboard-content {
    padding: 40px;
    padding-bottom: 0;
    position: relative;
}
.userfacts-container {
    width: calc(100% + 15px);
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
  .userfacts-container {
      width: calc(100% + 30px);
      margin-bottom: 0px;
  }
}
.userfact {
  background-color: #fff;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%);
  border-radius: 4px;
  padding: 20px 10px;
  flex: 1 1 calc(50% - 15px);
  max-width: calc(50% - 15px);
  margin: 0 15px 15px 0;
  height: auto;
  cursor: default;
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 992px) {
  .userfact {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);}
}
@media (min-width: 1160px) {
  .userfact {
    margin-right: 30px;
    margin-bottom: 30px;
    flex: 1 1 calc(20% - 30px);
    }
}
.userfact-icon {
    border-radius: 50px;
    background-color: var(--themecolordropdowns);
    flex: 0 0 70px;
    height: 70px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.userfact-icon i {
    font-size: 34px;
    align-self: center;
    margin: 0 auto;
    color: white;
}
.userfact-text {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.fun-fact h4 {
    font-size: 38px;
    color: #333;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 5px;
}
.fun-fact span {
    font-size: 15px;
    color: #888;
    line-height: 22px;
}
.dashboard-box {
    display: block;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    margin-bottom: 30px;
    position: relative;
}
@media (min-width: 992px) {
.dashboard-box.main-box-in-row {
    margin-bottom: 30px;}
}
.dashboard-box .headline {
    border: 1px solid var(--themecolorheadlines);
    display: block;
    padding: 20px 25px;
    position: relative;
    border-radius: 4px 4px 0 0;
}
.dashboard-box .headline h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--themecolorheadlines);
    line-height: 26px;
}
.sort-by {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    float: right;
}
.dashboard-box .headline .sort-by {
    float: none;
    display: block;
    position: absolute;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    right: 30px;
    z-index: 100;
    height: 33px;
}
@media (min-width: 768px) {
.dashboard-box .headline .sort-by {
    display: inline-block;}
}
.sort-by .stat-dropdown:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}
.stat-dropdown:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.stat-dropdown:not(.input-group-btn), .stat-dropdown[class*="col-"] {
    float: none;
    display: flex;
    margin-left: 0;
}
.stat-dropdown {
    position: relative;
}
.sort-by .stat-dropdown {
    position: relative;
    right: 0;
    top: 0;
}
.stat-dropdown:before {
    content: "";
    position: absolute;
    z-index: 999;
    bottom: 0px;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: #fbfdff;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sort-by .stat-dropdown a {
    flex: 1;
    position: relative;
    right: 0;
    top: 4px;
    font-weight: 600;
    margin-left: 10px;
    width: auto;
    padding: 0;
    padding-right: 12px;
    background-color: transparent;
    box-shadow: none;
    height: 20px;
    color: #333;
}
.stat-dropdown a {
    position: relative;
    display: inline-block;
    height: 48px;
    line-height: 0;
    padding: 0 15px;
    margin: 0;
    outline: none;
    font-size: 16px;
    color: #808080;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fbfdff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 12%);
}
.stat-dropdown > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}
.stat-dropdown .btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dashboard-box .headline .stat-dropdown .dropdown-toggle .filter-option {
    font-weight: 500;
    color: #ffffff;
}

.sort-by .stat-dropdown .dropdown-toggle .filter-option {
    line-height: 20px;
    height: auto;
    font-family: var(--font-family-nav);
}
.language-switcher.stat-dropdown .dropdown-toggle .filter-option, .sort-by .stat-dropdown .dropdown-toggle .filter-option {
    max-width: 100%;
    float: center;
}
.stat-dropdown .dropdown-toggle:after {
    color: white;
}
.sort-by .stat-dropdown .dropdown-menu {
    height: auto;
}
.stat-dropdown .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    overflow: hidden;
    height: auto;
}
.sort-by .stat-dropdown .dropdown-menu {
    top: 40px;
    left: 0;
    right: auto;

    position: absolute;
    min-width: 160px !important;
    flex: 1;
}
@media (min-width: 768px) {
  .dashboard-box .headline .sort-by .stat-dropdown .dropdown-menu {
  right: 0;
  left: auto;}
}
.sort-by .dropdown-menu {
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 14%);
}
.stat-dropdown.show .dropdown-menu {
    opacity: 1;
    margin-left:-18px;
    margin-top: 1.7em;
    pointer-events: all;
    visibility: visible;
    padding-bottom: 12px;
}
.stat-dropdown .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}
.stat-dropdown .custom-select {
    /* position: absolute !important; */
    bottom: 0;
    /* left: 50%; */
    display: block !important;
    width: 9em !important;
    height: 100% !important;
    padding: 0 !important;
    /* border: none; */
}

.stat-dropdown .dropdown-menu li:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.stat-dropdown .dropdown-menu li {
    position: relative;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}
.stat-dropdown .custom-select option {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.stat-dropdown .custom-select > option {
    display: block;
    padding: 8px 15px;
    padding-right: 35px;
    clear: both;
    font-weight: normal;
    line-height: 22px;
    border-radius: 0px;
}
.stat-dropdown .dropdown-menu li a span.text {
    display: inline-block;
}
.stat-dropdown .custom-select option.selected {
    color: var(--themecolortransparent);
}
.bootstrap-select > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
}

select.bs-select-hidden, select.selectpicker {
    display: none !important;
}
.dashboard-box .chart {
    padding: 30px 20px 17px 18px;
}
/*---------------
      PROFILE PAGE
-----------------*/
.inner-dashboard-content .profile-section {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 8px rgb(0 0 0 / 15%);
}
.inner-dashboard-content .profile-section .profile-main-left {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.inner-dashboard-content .profile-section .profile-main-left .profile-pic {
  margin: 20px;
}
.inner-dashboard-content .profile-section .profile-main-left .profile-pic img {
  width:300px;
  height:300px;
}
.inner-dashboard-content .profile-section .profile-main-left .profile-info1 {
  margin: 20px;
}
.inner-dashboard-content .profile-section .profile-main-right {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.inner-dashboard-content .profile-section .profile-main-right .profile-name {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
}
.inner-dashboard-content .profile-section .profile-main-right .profile-name i {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.inner-dashboard-content .profile-section .profile-main-right .profile-skills {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.inner-dashboard-content .profile-section .profile-main-right .profile-skills .skills-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.profile-main-right .profile-skills .skills-group h4 {
  justify-content: flex-start;
}
.profile-main-right .profile-skills .skills-group ul {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0;
  align-items: flex-start;
  justify-content: flex-start;

}
.profile-main-right .profile-skills ul li, .profile-main-right .profile-certif ul li {
  margin: 0 10px 0;
}
.inner-dashboard-content .profile-section .section-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.section-title a {
  color: var(--themecolor2);
}
.section-title h2, .section-title i {
  margin: 40px;
}

/*---------------
      TESTIMONIALS
-----------------*/
.card {
    position: relative;
    width: 100%;
}
.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid #f1f4f8;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
/*-------------------------
      LISTINGS
---------------------------*/
.listing-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.listing-container .listing__item {
  box-shadow: none;
  margin: 0.1em 0.5em 0.1em;
  padding: 25px 30px;
  /* padding-right: 60px; */
  display: flex;
  width: 22em;
  height: 20em;
  float: left;
  background-color: var(--themecolortransparent);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
  z-index: 100;
  transition: 0.3s;
  position: relative;
}
.listing-container .listing__item:after {
    /* position: absolute; */
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .08;
    z-index: -1;
}
.listing-container .listing-detail {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding-bottom: 32px;
}
.listing-container .listing__item .listing-img {
    /* width: 80px;
    height: 80px;
    margin-right: 25px;
    top: 0;
    padding: 2px;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 50px; */
    flex: 1;
    max-width: 200px;
    margin-right: 25px;
    position: relative;
    top: 3px;
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.08);
}
.listing-container .listing__item .listing-img img {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 50px;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
}
.listing-container .listing__item .listing-title {
    flex: 1;
    padding-top: 0px;
    margin-top: -2px;
}
.listing-container .listing__item .listing-title h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}
.listing-container .listing__item .listing-footer {
    background-color: transparent;
    margin-top: 3px;
    padding: 20px 35px;
    border-radius: 0 0 4px 4px;
    position: relative;
}
.listing-container .listing__item .listing-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: row; */
}
.listing__item .listing-footer ul li {
    background: #ffffff;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 5px;
    color: #8c8c8c;
    width: 50%;
    height: 2em;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}
.listing__item .listing-footer ul li i.icon {
    color: var(--themecolor2);
}
/*-------------------------
      FOOTER
---------------------------*/
footer.section_footer {
  background-color: var(--themecolor2) !important;
}
.bottom-shape svg {
  fill: var(--themecolor2) !important;
}
.section_footer img {
  vertical-align: top;
  font-size: 20px;
}
.text-decoration-none {
  text-decoration: none;
}
.section_footer .list-social li i.icon {
  color: white;
}
