/*---------------
    Legend
-----------------*/
/*
1. Fonts
2. Root variables
3.
4.
5.
6.
7.
8.

*/
/* -----------------
      fonts
-------------------*/
@import url('https://fonts.googleapis.com/css?family=Oregano|Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
/*-------------------
      Colors
 --------------------*/
 :root {
   /* --themecolor: rgba(204, 153, 255, 1); */
   /* --themecolor: #5EC9CC; */
   --themecolor2: rgba(147, 112, 219, 0.9);
   --themecolortransparent: rgba(147, 112, 219, 0.06);
   --themecolortransparent2: rgba(147, 112, 219, 0.2);
   --bs-body-color
   --bs-body-bg
   --bs-body-font-family
   --bs-body-font-size
   --bs-body-font-weight
   --bs-body-text-align
 }
 /*-------------------
       NAVBAR
  --------------------*/

   /*-------------------
         WELCOME
    --------------------*/
@media (min-width: 768px) {
  .pt-md-11 {
    padding-top: 6rem!important;}
}
.section_welcome .text-company {
   color: var(--themecolor2);
}
.section_welcome > div {
   max-width: 100%;
}
/*-- Search Bar ----- */
.logged-out-homepage .section_welcome .search_bar_container {
     z-index: 5;
     width:100%;
     border-radius: 40px;
     border: 2px solid var(--themecolor2);
     position: relative;
}
 @media only screen and (min-width: 600px) {
 .logged-out-homepage .section_welcome .search_bar_container {
     display: block;
     width: 100%;
     border-radius: 40px;}
}
 .search_bar_container .searchfield {
   background-color: var(--themecolortransparent);
}
 .section_welcome .search_bar_container .form-box {
     height: 74px;
}
.section_welcome .search_bar_container .form-box {
     display: flex;
     position: relative;
     -webkit-font-smoothing: antialiased;
     margin: 0px auto;
}
@media only screen and (min-width: 900px) {
  .logged-out-homepage .section_welcome .search_bar_container .form-box {
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;}
}
.logged-out-homepage .section_welcome .search_bar_container .form-box {
     height: auto;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     border-radius: 40px;
}
.logged-out-homepage .section_welcome .search_bar_container .form-box {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     position: relative;
     height: 64px;
}
.logged-out-homepage .section_welcome .search_bar_container .form-box .srch-icon {
     justify-content: center;
     text-align: center;
     display: inline-block;
     vertical-align: middle;
     line-height: normal;
     /* left: 16px; */
     top: 26px;
     left: 8px;
     font-size: 30px;
     background: none;
     border: none;
     padding: 0;
     margin: 0;
     fill: #7a7d85;
}
.section_welcome .search_bar_container .form-box .srch-icon {
     position: absolute;
     z-index: 5;
}
.section_welcome .search_bar_container .srch-icon svg {
     float: left;
     vertical-align: middle;
     height: 100%;
     width: 100%;
}
.section_welcome .search_bar_container .form-box .srch-icon svg path {
     fill: #95979d;
}
@media only screen and (min-width: 900px) {
   .logged-out-homepage .section_welcome .search_bar_container form input {
     border-radius: 4px 0 0 4px;}
}
.logged-out-homepage .section_welcome .search_bar_container form input {
     font-size: 16px;
     height: 59px;
     padding-left: 44px;
     margin-bottom: 0;
     border-radius: 40px;
}
@media only screen and (min-width: 1160px) {
 .section_welcome .search_bar_container form input {
     border-right: 0;
     border-radius: 3px 0 0 3px;}
}
@media only screen and (min-width: 900px) {
   .section_welcome .search_bar_container form input {
     font-size: 15px;
     padding-top: 8px;}
}
.section_welcome .search_bar_container form input {
     font-size: 16px;
     -webkit-box-flex: 1;
     -webkit-flex: 1 1 auto;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto;
     padding: 7px 7px 7px 28px;
     border-radius: 3px;
     border-color: #dadbdd;
     -webkit-box-shadow: none;
     box-shadow: none;
     z-index: 3;
}
.section_welcome .search_bar_container button.srch-btn {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 115px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 26px;
   border-radius: 40px;
   padding: 12px 0px;
   z-index: 4;
}
.section_welcome .search_bar_container button.srch-btn {
     color: white;
     height: auto;
     cursor: pointer;
     background: var(--themecolor2);
     border-width: 0px;
     border-style: initial;
     border-color: initial;
     border-image: initial;
}
.popular {
   margin-top: 1em;
   display: flex;
   justify-content: center;
}
.popular h5 {
  margin: 10px 20px 0px;
}
.popular ul {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
}
.popular ul li {
   background-color: var(--themecolortransparent2);
   justify-content: center;
   margin-left: 0.4em;
   margin-right: 0.4em;
   padding: 0.2em;
   border-radius: 50px;
}
.popular ul li:hover {
   background-color: var(--themecolor2);
   transition: 0.4s;
}
.popular ul li a {
   padding: 0.3em;
   text-decoration: none;
   color: #747474;
}
.popular ul li a:hover {
  color: white;
}
/*-----------------------
      POPULAR CATS Carousel
------------------------- */
.categories-slider.slick-slider {
    margin: 0 -6px;
}
.categories-slider.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 600px) {
.categories-slider.slick-slider {
    margin: 0 -9px;}
}
.categories-slider.slick-slider .slick-arrow.slick-prev {
    left: -17px;
    border-radius: 30px;
}

.categories-slider.slick-slider .slick-arrow {
    background-color: #fff;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
}
.categories-slider.slick-slider .slick-arrow.slick-prev:after {
    background-position: 0 -32px;
}
.categories-slider.slick-slider .slick-arrow:after {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.categories-slider.slick-slider .slick-list, .slider-package .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.categories-slider.slick-slider .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.categories-slider.slick-slider .slick-track {
    min-width: 100%;
}
.categories-slider.slick-slider .slick-list, .categories-slider.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.categories-slider.slick-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.categories-slider.slick-slider .slick-track:after, .categories-slider.slick-slider .slick-track:before {
    display: table;
    content: "";
}
.categories-slider.slick-slider .slick-slide {
    padding: 0 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.categories-slider.slick-slider .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}
.categories-slider.slick-slider .slick-initialized .slick-slide {
    display: block;
}
.logged-out-homepage .subcategory-wrapper {
    height: 345px;
    background-color: #efeff0;
}
.logged-out-homepage .subcategory-wrapper .subcategory {
    position: relative;
    display: block;
}
.logged-out-homepage .subcategory-wrapper .subcategory h4 {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 16px;
}
.logged-out-homepage .subcategory-wrapper .subcategory h4 small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: block;
}
.logged-out-homepage .subcategory-wrapper img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 345px;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
}
/*---------------------
      Selling proposition
----------------------*/
.bg-gradient-light-white {
    background-color: var(--themecolortransparent);
}
.selling {
  position:relative;
}
.selling:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url('/static/svg/eu-map.svg');
  background-repeat: no-repeat;
  background-position: 95% 90%;
  background-size: cover;
}
.selling-text {
  position: relative;
  box-sizing:border-box;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: 100%;
  width: 20em;
  padding: 0 6px;
  z-index:1000;
  background-color: transparent;
}
@media only screen and (min-width: 900px) {
  .selling-text {
    flex-direction: row;
    -webkit-flex-basis:70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
    flex: 2;}
}
@media only screen and (max-width: 900px) {
  .selling-text {
    width: 100%;
    flex: 1;}
}
@media only screen and (max-width: 1160px) {
.sec2-wrapper .selling-text li {
    padding-bottom: 24px;
    list-style: none;}
}
.sec2-wrapper .selling-text li {
    padding-bottom: 20px;
}
.sec2-wrapper .selling-text li h6 {
    padding-bottom: 8px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.sec2-wrapper .selling-text li h6 .check-icon {
    margin-right: 10px;
    min-width: 24px;
}
.sec2-txt {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    fill: #7a7d85;
}
.sec2-txt svg {
    float: left;
    height: 100%;
    width: 100%;
    color: white;
}
.tbody-sec2 {
    font-size: 18px;
    line-height: 26px;
}
.selling-map {
  width: 30%;
  text-align: center;
  padding-left:3%;
}
.selling-map > img {
  border-radius: 10px;
  height: 300px;
  width: auto;
}
@media only screen and (max-width: 900px) {
  .selling-map {
    display: none;
  }
}
/*---------------------
     Get started
-----------------------*/
.signup .signup-image {
  position: relative;
  width: 300px;
  height: 300px;
}
.signup .signup-image:before {
  position: absolute;
  background-image: url('/static/img/get_started1.WebP');
  background-repeat: no-repeat;
  background-position: 95% 90%;
  background-size: cover;

}
/*-----------------------
     TESTIMONIALS
-----------------------*/
.testimonials-slider.slick-initialized {
    margin: 0 -6px;
    height: 25em;
    box-sizing: border-box;
    -webkit-box-shadow: 0 15px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 15px 15px 10px rgb(0 0 0 / 15%);
}
.testimonials-slider .item picture {
  display: flex;
  justify-content: center;
}
.testimonials-slider .item img {
  border-radius: 50px;
  width: 150px;
  height: auto;
}
.testimonials-slider .item blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #1e528e;
}
.testimonials-slider .item blockquote:before, .testimonials-slider .item blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #1e528e;
}
.testimonials-slider .item blockquote:before {
	top: 0;
	left: 10px;
}
.testimonials-slider .item blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.testimonials-slider .slick-slide cite {
  float: right;
	padding-right: 60px;
	font-size: 1.25em;
  color:var(--themecolor2) !important;
}
.testimonials-slider .slick-arrow {
  z-index: 1500;
  width: 50px;
  height: auto;
}
.testimonials-slider .slick-arrow:before, .testimonials-slider .slick-arrow:after {
  font-size: 50px;
  color: var(--themecolor2) !important;
}
/*--------------------
    Our Guides
---------------------*/
.guides-grid, .guides-grid>[class*=col-] {
    -webkit-box-flex: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.guides-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
}
@media only screen and (min-width: 1160px) {
.guides-grid {
    margin-left: -16px;
    margin-right: -16px;}
}

@media only screen and (min-width: 900px) {
.guides-grid {
    margin-left: -8px;
    margin-right: -8px;}
}
@media only screen and (min-width: 600px) {
.guides-grid {
    margin-left: -8px;
    margin-right: -8px;}
}
.logged-out-homepage .guides-grid .guide {
    margin-bottom: 32px;
}
@media only screen and (min-width: 900px) {
.logged-out-homepage .guides-grid .guide {
    margin-bottom: 0;}
}
@media only screen and (min-width: 1160px) {
  .guides-grid>[class*=col-] {
    padding: 0 16px;}
}
.logged-out-homepage .guides-grid .picture {
    position: relative;
}
.logged-out-homepage .guides-grid .guide img {
  border-radius: 4px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.logged-out-homepage .guides-grid .guide a {
    text-decoration: none;
    color: #74767e;
}
.guides-grid>.col-12-xs {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
@media only screen and (min-width: 600px) {
.guides-grid>.col-6-sm {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;}
}
@media only screen and (min-width: 900px) {
.guides-grid>.col-4-md {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;}
}
.logged-out-homepage .guides-grid .guide p {
    color: #74767e;
}
.logged-out-homepage .see-more-link {
    color: #446ee7;
    display: block;
}
@media only screen and (min-width: 900px) {
.logged-out-homepage .see-more-link {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;}
}
/*-----------------------------
     Call to action
------------------------------*/
.cta {
  background-color: var(--themecolortransparent2);
  margin-bottom: 96px;
}
.logged-out-homepage .signup {
    border-radius: 4px;
    overflow: hidden;
    padding: 48px 24px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media only screen and (min-width: 600px) {
  .logged-out-homepage .signup {
    padding: 64px 32px;}
}
@media only screen and (min-width: 900px) {
  .logged-out-homepage .signup {
    padding: 80px 32px;}
}

.logged-out-homepage .signup .signup-text {
  z-index: 5;
}
.logged-out-homepage .signup h2 {
    color: #fff;
    padding-bottom: 40px;
}
.logged-out-homepage .signup span {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 32px;
}
.logged-out-homepage .signup span i {
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 32px;
}
@media only screen and (min-width: 600px) {
  .logged-out-homepage .signup h2 {
    max-width: 560px;}
}
@media only screen and (min-width: 900px) {
  .logged-out-homepage .signup h2 {
    max-width: 650px;}
}
.btn-signup {
  background-color: white;
  color: var(--themecolor2);
  border: 1px solid var(--themecolor2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 70ms cubic-bezier(.75,0,.25,1);
  -o-transition: 70ms cubic-bezier(.75,0,.25,1);
  transition: 70ms cubic-bezier(.75,0,.25,1);
}
.logged-out-homepage .cta .signup-image {
    display: none;
}
@media only screen and (min-width: 900px) {
  .logged-out-homepage .cta .signup-image {
    }
}
.logged-out-homepage .signup .image img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.logged-out-homepage .signup .image img svg {

}
