
.logged-in-homepage-wrapper {
    background-image: url('/static/img/pattern2.WebP');
}
.logged-in-homepage-wrapper .logged-in-homepage.max-width-container {
    padding: 0;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage.max-width-container {
    padding: 32px 32px 64px;}
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top {
    height: 240px;
    margin-bottom: 56px;}
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .welcome-section {
    display: none;
    margin-right: 16px;
    min-width: 250px;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .welcome-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 260px;}
}
.logged-in-homepage .buyer-request {
    background: #fafafa;
    border: 1px solid #efeff0;
    padding: 50px 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.text-display-6 {
    font-size: 16px;
    line-height: 140%;
}
.logged-in-homepage .buyer-request p {
    padding: 12px 0 32px;
    color: #404145;
}
.logged-in-homepage .post-request-btn {
    width: 100%;
    background: none;
    border-color: currentColor;
}
    /* Top Banner Carousel */
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .personalized-banners {
    width: 100%;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .personalized-banners {
    max-width: calc(100% - 276px);}
}
.personalized-content .recommendations-carousel {
    margin: 0;
}
.personalized-content .recommendations-carousel:last-of-type {
    margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel {
    margin-bottom: 56px;
    padding: 0;}
}
.recommendations-carousel .banners_carousel {
    margin: 0 -6px;
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 900px) {
.recommendations-carousel .banners_carousel {
    margin: 0 -18px;}
}
@media only screen and (min-width: 600px) {
.recommendations-carousel .banners_carousel {
    margin: 0 -9px;}
}
.recommendations-carousel .banners_carousel .carousel-inner {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.personalized-content .recommendations-carousel .banners_carousel .carousel-inner .item {
    padding: 0;
    padding: 0 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 100%;
    min-height: 1px;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .banners_carousel .carousel-inner .item {
    padding: 0 9px;}
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .banner {
    height: 328px;
}
.personalized-content .recommendations-carousel .banners_carousel .carousel-inner .item .banner {
    background-position: 50%;
    background-size: cover;
    height: 240px;
    width: 100%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(34,35,37,.8)),to(rgba(34,35,37,0))),var(--image-url);
    background-image: -o-linear-gradient(bottom,rgba(34,35,37,.8) 0,rgba(34,35,37,0) 100%),var(--image-url);
    background-image: linear-gradient(0deg,rgba(34,35,37,.8),rgba(34,35,37,0)),var(--image-url);
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .banners_carousel .carousel-inner .item .banner {
    height: 240px;}
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .banners_carousel .carousel-inner .item .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-position: 100% 100%;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(34,35,37,.8)),to(rgba(34,35,37,0))),var(--image-url);
    background-image: -o-linear-gradient(left,rgba(34,35,37,.8) 0,rgba(34,35,37,0) 100%),var(--image-url);
    background-image: linear-gradient(90deg,rgba(34,35,37,.8),rgba(34,35,37,0)),var(--image-url);}
}
.personalized-content .recommendations-carousel .banner .banner-content {
    padding: 24px;
    color: #fafafa;
}
.personalized-content .recommendations-carousel .banner .banner-content h2 {
    color: #fafafa;
    padding-bottom: 4px;
}
.personalized-content .recommendations-carousel .banner .banner-content p {
    white-space: pre-wrap;
    max-width: 100%;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .banner .banner-content p {
    font-size: 18px;
    line-height: 26px;}
}
/* Top categories */
.logged-in-homepage-wrapper .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 24px;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .categories {
    display: none;}
}
.logged-in-homepage-wrapper .categories header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 24px;
}
.logged-in-homepage-wrapper .categories header a:after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 8px;
    display: inline-block;
}
.logged-in-homepage-wrapper .categories a {
  text-decoration: none;
}
.logged-in-homepage-wrapper .categories li {
    padding-bottom: 10px;
}
.logged-in-homepage-wrapper .categories li>a {
    border: 1px solid #dadbdd;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 10px;
    text-decoration: none;
    position: relative;
}
.logged-in-homepage-wrapper .categories li>a .category-icon {
    margin-right: 10px;
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.category-icon svg {
    float: left;
    height: 100%;
    width: 100%;
}
.logged-in-homepage-wrapper .categories li>a aside {
  padding-left: 20px;
}
.logged-in-homepage-wrapper .categories li>a aside h5 {
    color: black;
}
.logged-in-homepage-wrapper .categories li>a aside span {
    display: inline-block;
    color: #95979d;
    font-size: 14px;
    line-height: 16px;
}
/* Recommendations carousel */
.recommendations-carousel .carousel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 32px 0 14px;
}
.recommendations-carousel .carousel-header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.personalized-content .recommendations-carousel .carousel-header .title h4 {
    display: inline-block;
}
.personalized-content .recommendations-carousel .carousel-link.show-more {
    display: none;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .carousel-link.show-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;}
}
.personalized-content .recommendations-carousel .carousel-link.show-more .link-icon {
    display: block;
}
.personalized-content .recommendations-carousel .carousel-link .link-icon {
    display: none;
    padding: 4px 0 0 8px;
    fill: #446ee7;
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.personalized-content .recommendations-carousel .carousel-link .link-icon svg {
    width: 7px;
    height: 12px;
}
.link-icon svg {
    float: left;
    height: 100%;
    width: 100%;
}
.personalized-content .recommendations-carousel .gig-wrapper .list-view-card {
    padding: 8px 16px;
    width: auto;
}
.listing-container, .listing-impression-container {
    width: 100%;
}
.gig-wrapper .list-view-card {
    background-color: #fff;
    border-bottom: 1px solid #e4e5e7;
    width: 100%;
    padding-bottom: 8px;
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-bottom .recommendations-carousel .listing-container {
    padding: 6px 0;
}
.listing-container.list-view {
    grid-gap: 15px;
}
.listing-container {
    display: grid;
    grid-template-columns: minmax(0,1fr);
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .gig-wrapper .list-view-card {
    padding: 10px 0 8px;
    width: 100%;}
}
.personalized-content .recommendations-carousel.pro-gigs-list-view, .personalized-content .recommendations-carousel.pro-gigs-sliding-carousel {
    padding: 0;
    background-color: #fafafa;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel.pro-gigs-list-view, .personalized-content .recommendations-carousel.pro-gigs-sliding-carousel {
    padding: 24px;}
}
.gig-wrapper .list-view-card header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 8px;
}
.listing-carousel.gig-card-layout .slick-track .slick-slide>div, .listing-carousel.gig-card-layout .slick-track .slick-slide>div .gig-card-layout, .listing-carousel.gig-card-layout .slick-track .slick-slide>div .gig-card-layout>div {
    height: 100%;
}
.listing-carousel .gig-wrapper.card {
    width: auto;
    display: block;
}
.gig-wrapper.card, .gig-wrapper.card .content-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gig-wrapper.card {
    background-color: #fff;
    position: relative;
    border: 1px solid #e4e5e7;
    width: 100%;
}
.gig-wrapper .media {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #efeff0;
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}
.gig-wrapper .media .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.gigs-slider .slick-slider .slick-arrow.slick-next {
    right: -17px;
    border-radius: 30px;
}
.gigs-slider .slick-slider .slick-arrow {
    background-color: #fff;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
}
.gig-wrapper .media .slider .arrow.next {
    right: -30px;
    -webkit-transition: right .2s;
    -o-transition: right .2s;
    transition: right .2s;
}
.gig-wrapper .media .slider .arrow {
    height: 50%;
    width: 25px;
}
.gig-wrapper .media .slider .arrow {
    position: absolute;
    bottom: 0;
}
.gig-wrapper .media .slider .arrow.next:after {
    background-position: -25px 0;
}
.gig-wrapper .media .slider .arrow:after {
    background: transparent url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_in_homepage_perseus/apps/carousel-arrows.b9dde63.svg) no-repeat;
    content: "";
    display: block;
    width: 25px;
    height: 30px;
    cursor: pointer;
}
.gig-wrapper .media .slider .arrow:after {
    position: relative;
    top: 0;
    z-index: 1;
    margin-top: -15px;
}
.gigs-slider .slick-slider .slick-list, .gigs-slider .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.gigs-slider .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.gigs-slider .slick-slider .slick-track {
    min-width: 100%;
}
.listing-carousel.gig-card-layout .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.gigs-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gigs-slider .slick-track:after, .gigs-slider .slick-track:before {
    display: table;
    content: "";
}
.listing-carousel.gig-card-layout .slick-track .slick-slide {
    height: auto;
}
.gigs-slider .slick-slider .slick-slide {
    padding: 0 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gigs-slider .slick-initialized .slick-slide {
    display: block;
}
.gigs-slider .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.gig-wrapper .media .slider .slides {
    height: 100%;
    overflow: hidden;
}
.gig-wrapper .media .slider .slides.preview .slide-item.active {
    float: none;
}
.gig-wrapper .media .slider .slides .slide-item {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}
.gig-wrapper .media .slider .slides .slide-item>img {
    width: 100%;
}
.gig-wrapper .media .slider .arrow.prev {
    left: -30px;
    -webkit-transition: left .2s;
    -o-transition: left .2s;
    transition: left .2s;
}
.gig-wrapper .media .slider .arrow.prev:after {
    background-position: 0 0;
}
.gig-wrapper .seller-info, .gig-wrapper .seller-info .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.gig-wrapper .seller-info {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.tbody-6, .text-body-2 {
    font-size: 14px;
    line-height: 21px;
}
.gig-wrapper .seller-info .inner-wrapper {
    line-height: 120%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 12px 8px;
    height: 54px;
    width: 100%;
}
.gig-wrapper .seller-info, .gig-wrapper .seller-info .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.gig-wrapper .seller-image {
    position: relative;
}
.seller-avatar, .seller-image-div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
}
.seller-image-div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.seller-avatar {
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 1em;
    height: 1em;
    border-radius: 50%;
    overflow: hidden;
}
.seller-avatar-caption {
    font-size: 49%;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.gig-wrapper .seller-image img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.B9j8CWn {
    background-color: #b5b6ba;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.gig-wrapper .seller-info .seller-identifiers {
    margin-left: 8px;
    width: calc(100% - 24px);
}
.gig-wrapper .seller-info .seller-identifiers .seller-name-and-country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.gig-wrapper .seller-name {
    height: 18px;
    color: #222325;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gig-wrapper .seller-name a {
    color: #222325;
    line-height: 18px;
}
.text-semi-bold {
    font-weight: 600;
}
.gig-wrapper h3 {
    font-size: 16px;
}
.gig-wrapper h3 a {
    cursor: pointer;
    color: #222325;
    line-height: 22px;
    font-weight: 400;
    height: 43px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 12px 5px;
    margin-top: 5px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.gig-wrapper.card .content-info, .gig-wrapper.card footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 12px;
}
.gig-wrapper.card .content-info {
    height: 40px;
}
.gig-wrapper.card, .gig-wrapper.card .content-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gig-wrapper .gig-rating {
    color: #ffbe5b;
    font-weight: 700;
}
.gig-wrapper .gig-rating svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -0.16em;
}
.gig-wrapper .gig-rating span {
    color: #b5b6ba;
    font-weight: 400;
    margin-left: 2px;
}
.gig-wrapper.card footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    clear: both;
    border-top: 1px solid #efeff0;
}
.gig-wrapper.card .content-info, .gig-wrapper.card footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 12px;
}
.collect-package {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.collect-package .collections-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
}
.e4rLWCQ._5tFuFhP {
    position: relative;
}
.e4rLWCQ.DQP4pgk>.FPMjOVo {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.e4rLWCQ, .e4rLWCQ .FPMjOVo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.e4rLWCQ .FPMjOVo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.e4rLWCQ, .e4rLWCQ .FPMjOVo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.collect-package .collections-wrapper .list-icon-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    position: relative;
    border: 0;
}
.collect-package .collections-wrapper .list-icon-button .list-icon {
    fill: #b5b6ba;
}
.lFICM06 {
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.lFICM06 svg {
    float: left;
    height: 100%;
    width: 100%;
}
.e4rLWCQ, .e4rLWCQ .FPMjOVo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.e4rLWCQ, .e4rLWCQ .FPMjOVo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.e4rLWCQ .FPMjOVo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.e4rLWCQ, .e4rLWCQ .FPMjOVo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.collect-package .icn-heart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: 0;
}
.collect-package .icn-heart .heart-icon {
    position: relative;
    fill: #b5b6ba;
}
.lFICM06 {
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.lFICM06 svg {
    float: left;
    height: 100%;
    width: 100%;
}
.gig_listings-package .price.line-break {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -2px;
}
.gig_listings-package .price {
    font-size: 18px;
    line-height: 20px;
    margin-top: 1px;
    color: #404145;
    text-align: right;
}
.gig_listings-package .price.line-break small {
    padding-bottom: 2px;
}
.gig_listings-package .price small {
    color: #74767e;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding: 2px 0 0;
}
.gig_listings-package .price span {
    padding-left: 6px;
}
.gig_listings-package .price sup {
    top: 2px;
    margin-left: 1px;
    font-size: 70%;
    line-height: 0;
    position: relative;
    vertical-align: super;
}
.gigs-slider .slick-track:after {
    clear: both;
}
.gigs-slider .slick-track:after, .gigs-slider .slick-track:before {
    display: table;
    content: "";
}
