
.logged-in-homepage-wrapper {
    background-image: url('/static/img/pattern2.WebP');
}
.logged-in-homepage-wrapper .logged-in-homepage.max-width-container {
    padding: 0;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage.max-width-container {
    padding: 32px 32px 64px;}
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top {
    height: 240px;
    margin-bottom: 56px;}
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .welcome-section {
    display: none;
    margin-right: 16px;
    min-width: 250px;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .welcome-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 260px;}
}
.logged-in-homepage .buyer-request {
    background: #fafafa;
    border: 1px solid #efeff0;
    padding: 50px 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.text-display-6 {
    font-size: 16px;
    line-height: 140%;
}
.logged-in-homepage .buyer-request p {
    padding: 12px 0 32px;
    color: #404145;
}
.logged-in-homepage .post-request-btn {
    width: 100%;
    background: none;
    border-color: currentColor;
}
    /* Top Banner Carousel */
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .personalized-banners {
    width: 100%;
}
/* @media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .personalized-banners {
    max-width: calc(100% - 276px);}
} */
.personalized-content .recommendations-carousel {
    margin: 0;
}
.personalized-content .recommendations-carousel:last-of-type {
    margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel {
    margin-bottom: 56px;
    padding: 0;}
}
.recommendations-carousel #banners_carousel {
    margin: 0 -6px;
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 900px) {
.recommendations-carousel #banners_carousel {
    margin: 0 -18px;}
}
@media only screen and (min-width: 600px) {
.recommendations-carousel #banners_carousel {
    margin: 0 -9px;}
}
.recommendations-carousel #banners_carousel .carousel-inner {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.personalized-content .recommendations-carousel #banners_carousel .carousel-inner .carousel-item {
    padding: 0;
    padding: 0 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    max-height: 20em;
}
.personalized-content .recommendations-carousel #banners_carousel .carousel-inner .carousel-item img {
    max-width: 100%;
    object-position: right;
    object-fit: cover;
    height: auto;
    float: right;
    /* max-height: 40em; */
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel #banners_carousel .carousel-inner .carousel-item {
    padding: 0 9px;}
}
.logged-in-homepage-wrapper .logged-in-homepage .logged-in-homepage-top .banner {
    height: 328px;
}
.personalized-content .recommendations-carousel #banners_carousel .carousel-inner .carousel-item .banner {
    background-position: 50%;
    background-size: cover;
    height: 240px;
    width: 100%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(34,35,37,.8)),to(rgba(34,35,37,0))),var(--image-url);
    background-image: -o-linear-gradient(bottom,rgba(34,35,37,.8) 0,rgba(34,35,37,0) 100%),var(--image-url);
    background-image: linear-gradient(0deg,rgba(34,35,37,.8),rgba(34,35,37,0)),var(--image-url);
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel #banners_carousel .carousel-inner .carousel-item .banner {
    height: 240px;}
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel #banners_carousel .carousel-inner .carousel-item .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-position: 100% 100%;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(34,35,37,.8)),to(rgba(34,35,37,0))),var(--image-url);
    background-image: -o-linear-gradient(left,rgba(34,35,37,.8) 0,rgba(34,35,37,0) 100%),var(--image-url);
    background-image: linear-gradient(90deg,rgba(34,35,37,.8),rgba(34,35,37,0)),var(--image-url);}
}
.personalized-content .recommendations-carousel .banner .banner-content {
    padding: 24px;
    color: #fafafa;
}
.personalized-content .recommendations-carousel .banner .banner-content h2 {
    color: #fafafa;
    padding-bottom: 4px;
}
.personalized-content .recommendations-carousel .banner .banner-content p {
    white-space: pre-wrap;
    max-width: 100%;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .banner .banner-content p {
    font-size: 18px;
    line-height: 26px;}
}
/* Top categories */
.logged-in-homepage-wrapper .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; */
    padding: 0 24px;
    width: 100%;
}
/* @media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .categories {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;  }
} */
.logged-in-homepage-wrapper .categories header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 24px;
}
.logged-in-homepage-wrapper .categories header a:after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 8px;
    display: inline-block;
}
/* .logged-in-homepage-wrapper .categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 24px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
.logged-in-homepage-wrapper .categories-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;  }
} */
.categories-list.slick-slider {
    margin: 0 -6px;
}
.categories-list.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 600px) {
.categories-list.slick-slider {
    margin: 0 -9px;}
}
.categories-list.slick-slider .slick-arrow.slick-prev {
    left: -17px;
    border-radius: 30px;
}

.categories-list.slick-slider .slick-arrow {
    background-color: #fff;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
}
.categories-list.slick-slider .slick-arrow.slick-prev:after {
    background-position: 0 -32px;
}
.categories-list.slick-slider .slick-arrow:after {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.categories-list.slick-slider .slick-list, .slider-package .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.categories-list.slick-slider .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.categories-list.slick-slider .slick-track {
    min-width: 100%;
}
.categories-list.slick-slider .slick-list, .categories-list.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.categories-list.slick-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.categories-list.slick-slider .slick-track:after, .categories-list.slick-slider .slick-track:before {
    display: table;
    content: "";
}
.categories-list.slick-slider .slick-slide {
    padding: 0 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.categories-list.slick-slider .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}
.categories-list.slick-slider .slick-initialized .slick-slide {
    display: block;
}
.logged-in-homepage-wrapper .categories-list .slick-slide {
  list-style: none;
  padding-bottom: 10px;
}
.logged-in-homepage-wrapper .categories .slick-slide > a {
    text-decoration: none;
    border: 1px solid #dadbdd;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 10px;
    text-decoration: none;
    position: relative;
    height: 110px;
}
.logged-in-homepage-wrapper .categories-list a .category-icon {
    margin-right: 10px;
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.category-icon img {
    float: left;
    height: 100%;
    width: 100%;
}
.logged-in-homepage-wrapper .categories-list a aside {
  padding-left: 20px;
}
.logged-in-homepage-wrapper .categories-list a aside h5 {
    color: black;
}
.logged-in-homepage-wrapper .categories-list a aside span {
    display: inline-block;
    color: #95979d;
    font-size: 14px;
    line-height: 16px;
}
/* Recommendations carousel */
.recommendations-carousel .carousel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 32px 0 14px;
}
.recommendations-carousel .carousel-header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.personalized-content .recommendations-carousel .carousel-header .title h4 {
    display: inline-block;
}
.personalized-content .recommendations-carousel .carousel-link.show-more {
    display: none;
}
@media only screen and (min-width: 600px) {
.personalized-content .recommendations-carousel .carousel-link.show-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;}
}
.personalized-content .recommendations-carousel .carousel-link.show-more .link-icon {
    display: block;
}
.personalized-content .recommendations-carousel .carousel-link .link-icon {
    display: none;
    padding: 4px 0 0 8px;
    fill: #446ee7;
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.personalized-content .recommendations-carousel .carousel-link .link-icon svg {
    width: 7px;
    height: 12px;
}
.link-icon svg {
    float: left;
    height: 100%;
    width: 100%;
}
.recommendations-carousel .listing_nav {
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-tabs {
  border-bottom: 1px solid transparent;
}
.nav:after, .nav:before, .row:before {
    content: " ";
    display: table;
}
.recommendations-carousel .listing_nav button:hover, .recommendations-carousel .listing_nav button:focus, .recommendations-carousel .listing_nav button:active, .recommendations-carousel .listing_nav button.active {
  background-color: var(--themecolor2);
  color: white;
  transition: 0.3s;
}
/* .recommendations-carousel .listing_nav li:active {
  background-color: var(--themecolor2);
  color: white;
  transition: 0.3s;
} */
.recommendations-carousel .listing_nav button {
  position: relative;
  display: block;
  width: 20%;
  margin-left: 1em;
  margin-right: 1em;
  background-color: var(--themecolortransparent);
  text-decoration: none;
  border: 1px solid #dadbdd;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 10px;
  text-decoration: none;
  position: relative;
  height: 60px;
  color: black;
  justify-content: center;
}
.recommendations-carousel .listing_nav li a:hover, .recommendations-carousel .listing_nav li a:focus {
  color: white;
  transition: 0.3s;
}
