/*----------------main css-------------------------------*/
html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Unna", serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-family: "Nunito Sans", sans-serif;
	color: #444444;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: inherit;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 70px;
	text-align: center;
}

.section-title.normal-title {
	text-align: left;
}

.section-title.normal-title h3:after {
	margin: 0;
}

.section-title h3 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.section-title h3:after {
	position: absolute;
	left: 0;
	bottom: -30px;
	right: 0;
	height: 13px;
	width: 83px;
	background-image: url(#);
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 8px 25px 6px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 700;
	border: 1px solid #f4952f;
}

.site-btn {
	font-size: 15px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 26px 12px;
	background: #f4952f;
	border: none;
}

/* Preloder */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 999999;
}
#loader-wrapper #loader {
  border: 3px solid transparent;
  border-top-color: #1b2d2f;
  border-radius: 50%;
  display: block;
  margin: -75px 0 0 -75px;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
#loader-wrapper #loader:before {
  border: 3px solid transparent;
  border-top-color: #f1ae2b;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader-wrapper #loader:after {
  border: 3px solid transparent;
  border-top-color: #1b2d2f;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
/*** Animations ***/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* OLD */

 #preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
} */

.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*---------------------
  Header
-----------------------*/
.header {

}
.header__top {
	background: transparent;
}

.header__humberger {
	font-size: 14px;
	color: #111111;
	padding: 10px 0 11px;
}

.header__humberger i {
	cursor: pointer;
}

.header__menu {
	text-align: center;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li.active>a {
	color: #f4952f;
}

.header__menu ul li.active>a:after {
	opacity: 1;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.header__menu ul li:hover .header__megamenu__wrapper {
	top: 42px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #f4952f;
}

.header__menu ul li:hover>a:after {
	opacity: 1;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.header__menu ul li:hover .dropdown__menu {
	opacity: 1;
	visibility: visible;
	top: 41px;
}

.header__menu ul li.dropdown {
	position: relative;
}

.header__menu ul li .dropdown__menu {
	position: absolute;
	left: 0;
	top: 62px;
	width: 180px;
	background: #222222;
	z-index: 9;
	text-align: left;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
}

.header__menu ul li .dropdown__menu li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown__menu li a {
	color: #ffffff;
	padding: 5px 0;
	padding-left: 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown__menu li a:hover {
	color: #f4952f;
}

.header__menu ul li .dropdown__menu li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	font-family: "Unna", serif;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	padding: 10px 0;
	display: block;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 2px;
	background: #f4952f;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.header__megamenu__wrapper {
	position: absolute;
	left: -175px;
	right: -176px;
	top: 62px;
	z-index: 9;
	background: #ffffff;
	padding: 30px;
	padding-bottom: 25px;
	max-width: 1170px;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 0px 5px 15px rgba(20, 14, 5, 0.15);
	box-shadow: 0px 5px 15px rgba(20, 14, 5, 0.15);
}

.header__megamenu {
	margin-right: -30px;
}

.header__megamenu__item {
	width: calc(20% - 30px);
	float: left;
	margin-right: 30px;
}

.header__megamenu__item .header__megamenu__item--pic {
	height: 132px;
	position: relative;
	margin-bottom: 15px;
}

.header__megamenu__item .header__megamenu__item--pic .label {
	font-size: 12px;
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	background: #ffffff;
	padding: 2px 5px 1px;
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 10px;
}

.header__megamenu__item .header__megamenu__item--text {
	text-align: left;
}

.header__megamenu__item .header__megamenu__item--text h5 a {
	line-height: 20px;
	color: #111111;
}

.header__search {
	font-size: 14px;
	color: #111111;
	text-align: right;
	padding: 10px 0 11px;
}

.header__search i {
	cursor: pointer;
}

.header__btn {
	padding: 57px 0 56px;
}

.header__logo {
	padding: 50px 0 40px;
	text-align: center;
}

.header__logo a {
	display: inline-block;
}

.header__social {
	text-align: right;
	padding: 63px 0;
}

.header__social a {
	font-size: 14px;
	color: #111111;
	display: inline-block;
	margin-right: 10px;
}

.header__social a:last-child {
	margin-right: 0;
}

.humberger__menu__overlay {
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 98;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.humberger__menu__overlay.active {
	visibility: visible;
}

.humberger__menu__wrapper {
	width: 400px;
	background: #111111;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 99;
	padding: 50px 50px 60px 50px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
	left: -400px;
}

.humberger__menu__wrapper.show__humberger__menu__wrapper {
	opacity: 1;
	left: 0;
}

.humberger__menu__logo {
	margin-bottom: 20px;
}

.humberger__menu__nav {
	display: none;
}

.slicknav_menu {
	background: transparent;
	padding: 0;
	margin-bottom: 35px;
}

.slicknav_btn {
	display: none;
}

.slicknav_nav {
	display: block !important;
}

.slicknav_nav li a {
	font-size: 15px;
	color: #ffffff;
	font-family: "Unna", serif;
	text-transform: uppercase;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 10px 0;
	margin: 0;
}

.slicknav_nav li a:hover {
	background: transparent;
	color: #f4952f;
	text-decoration: underline;
}

.slicknav_nav ul {
	margin: 0;
}

.slicknav_nav .slicknav_row:hover {
	border-radius: 0;
	background: transparent;
	color: #f4952f;
}

.slicknav_nav .slicknav_row:hover a {
	color: #f4952f;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
	padding: 5px 0;
	margin: 2px 0;
}

.humberger__menu__title h6 {
	color: #ffffff !important;
	opacity: 1 !important;
}

.humberger__menu__about {
	margin-bottom: 50px;
}

.humberger__menu__about img {
	min-width: 100%;
	margin-bottom: 20px;
}

.humberger__menu__about h6 {
	color: #ffffff;
	opacity: 0.5;
}

.humberger__menu__about p {
	color: #ffffff;
	opacity: 0.5;
	margin-bottom: 25px;
}

.humberger__menu__about .humberger__menu__about__social a {
	background: #363636 !important;
}

.humberger__menu__about .humberger__menu__about__social a:hover {
	background: #f4952f !important;
}

.humberger__menu__about .humberger__menu__about__social a i {
	color: #ffffff;
	opacity: 0.7;
}

.humberger__menu__subscribe .humberger__menu__title {
	margin-bottom: 20px !important;
}

.humberger__menu__subscribe p {
	color: #ffffff;
	opacity: 0.7;
}

.humberger__menu__subscribe form input {
	background: transparent;
	color: #ffffff !important;
	opacity: 0.5 !important;
}

.humberger__menu__subscribe form input::-webkit-input-placeholder {
	color: #ffffff !important;
	opacity: 0.5 !important;
}

.humberger__menu__subscribe form input::-moz-placeholder {
	color: #ffffff !important;
	opacity: 0.5 !important;
}

.humberger__menu__subscribe form input:-ms-input-placeholder {
	color: #ffffff !important;
	opacity: 0.5 !important;
}

.humberger__menu__subscribe form input::-ms-input-placeholder {
	color: #ffffff !important;
	opacity: 0.5 !important;
}

.humberger__menu__subscribe form input::placeholder {
	color: #ffffff !important;
	opacity: 0.5 !important;
}

.humberger__menu__subscribe form label {
	color: #ffffff !important;
	opacity: 0.7 !important;
}

/*---------------------
  Hero
-----------------------*/

.hero__slider {
	overflow: hidden;
	background: black;
	background-size: cover;
}
.hero__item {
	margin-top: 10em;
	margin-right: -11px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
		width: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	}

.hero__inside .form-box {
	display: flex;
	width: 100%;
	background-color: #fbfdff;
	border-radius: 50px;
	border: 5px solid rgba(0,0,0,0.1);
	box-shadow: 0 2px 12px rgb(0 0 0 / 9%)
}
.hero__inside .form-box .box-item {
	padding: 10px 12px;
	border-right: 1px solid #e4e4e4;
	/* flex: 1; */
	align-items: center;
	display: flex;
	position: relative;
}

.form-box .btn_group {
	align-self: center;
	flex: 1;
}


.hero__inside .form-box input {
	box-shadow: none;
  font-size: 18px;
  margin: 0;
  padding-left: 35px;
}

input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
	height: 48px;
	line-height: 48px;
	padding: 0 15px;
	outline: none;
	font-size: 16px;
	color: #808080;
	margin: 0 0 16px 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: #fbfdff;
	font-weight: 500;
	opacity: 1;
	border-radius: 4px;
	border: none;
	/* box-shadow: 0 1px 4px 0px rgb(0 0 0 / 12%); */
}

input {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.form-box .srch-item {
	margin: 8px;
    margin-left: 0;
    flex: auto;
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.form-box .srch-item .srch-btn {
	height: 52px;
  line-height: 52px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
}

.srch-item .srch-btn .btn {
  height: 52px;
	color: white;
  line-height: 52px;
	margin-left: 10px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
	background-color: rgba(230, 126, 34, 1);
	transition: 0.3s;
}
.srch-item .srch-btn .btn:hover, .srch-item .srch-btn .btn:focus {
	background-color: rgba(0, 0, 0, 0.7);
}

.hero__slider .hero__item .trending_kwords {
	text-align: center;
	color: #cecece;
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: 500;
}
.hero__slider .hero__item .trending_kwords .trending-title {
	color: white;
	padding: 3px;
}
.hero__slider .hero__item .trending_kwords a {
	color: white;
	padding: 3px;
	background-color: rgba(230, 126, 34, 0.5);
}
.hero__slider .hero__item .feat-jobs {
    display: inline-block;
    margin: 30px auto 0 auto;
    width: 100%;
}

.hero__slider .hero__item .feat-jobs ul.feat-jobs-list {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.hero__slider .hero__item .feat-jobs ul.feat-jobs-list li {
    margin: 5px;
    list-style: none;
    display: inline-block;
    text-align: center;
}

.hero__slider .hero__item .feat-jobs ul.feat-jobs-list li a {
    position: relative;
    width: 130px;
    height: 100px;
    display: block;
    overflow: hidden;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.feat-jobs ul.feat-jobs-list li a .feat_jobs-box, {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(48, 48, 48, 0.6);
    border-radius: 4px;
    padding-top: 20px;
    text-align: center;
    transition: 0.35s;
    box-shadow: 0px 0px 16px 0px rgb(2 2 2 / 10%);
    -webkit-box-shadow: 0px 0px 16px 0px rgb(2 2 2 / 10%);
}

.feat-jobs-list li a .feat_jobs-box p {
	color: white;
  font-size: 16px;
  font-weight: 600;
}

.feat-jobs ul.feat-jobs-list li a .feat_jobs-box:hover, .feat-jobs ul.feat-jobs-list li a .feat_jobs-box:focus {
  background-color: rgba(230, 126, 34, 1);
  color: white;
  animation-name: featured_jobs;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes featured_jobs {
  from {background-color: rgba(48, 48, 48, 0.6);}
  to {background-color: rgba(230, 126, 34, 1);}
}

/*---------------------
  Sections
-----------------------*/

.section {
	display: block;
}

.section_head {
	text-align: center;
  padding: 0;
}

.section_head span.bg_text {
    background: transparent;
    box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
    line-height: 26px;
    color: black;
    padding: 3.5px 22px;
    display: inline-block;
    max-width: max-content;
    margin: 0 auto 5px auto;
    border-radius: 4px;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.section_head h3 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	color: #333;
	position: relative;
	z-index: 9;
	}

.section_head h3:before {
		    background: #ff8a00;
		    border: 0 none;
		    content: "";
		    height: 3px;
		    left: 0;
		    right: 0;
		    text-align: center;
		    margin: 0 auto;
		    border-radius: 30px;
		    position: absolute;
		    bottom: -7px;
		    width: 40px;
}



/*---------------------
	  Categories Grid
	-----------------------*/
.section .cat-box:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  background: #0c1017;
	  opacity: 0.8;
	  border-radius: 6 px	;
	  transition: 0.4s;
}

.section .cat-box {
  border-radius: 6px;
  height: 250px;
  display: block;
  position: relative;
  background-size: cover;
  background-position: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  transition: 0.4s;
  margin: 0 0 25px 0;
	}

	.section .cat-box:hover, .section .cat-box:focus {
	  border-radius: 6px;
	  height: 250px;
	  display: block;
	  position: relative;
	  background-size: cover;
	  background-position: 100%;
	  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
	  transition: 0.4s;
	  margin: 0 0 25px 0;
	}

.section .cat-box .job-count {
	width: auto;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	border-radius: 4px;
	top: 10px;
	right: 10px;
	padding: 0 8px;
	color: #ffffff;
	position: absolute;
	background: #ff8a00;
	font-weight: 600;
	display: inline-block;
	margin: 0 auto;
	transition: 0.35s;
}

.section .cat-box .cat-name {
	  position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    bottom: auto;
    top: 55%;
    transform: translateY(-50%);
}

.section .cat-box .cat-name .cat-icon {
    font-size: 42px;
    line-height: 32px;
    color: #66676b;
    position: relative;
}

.cat-name .cat-icon img {
	color: orange;
  background: #fff;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 64px;
  font-size: 34px;
  transition: 0.35s;
  margin-bottom: 12px;
  border-radius: 40px;
  margin-bottom: 12px;
  border: 3px solid rgba(0, 0, 0, 0.04);
}

.cat-name h3 {
    color: #F8F8FF;
    font-size: 20px;
    line-height: 28px;
}
.section .cat-box .cat-name span {
    color: #fff;
    background: #ff8a00;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    transition: 0.3s;
		padding: 2px 5px;
	}
/* ------------------------
			JOB LISTINGS
------------------------------------*/
.section .job__item,  {
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}

.job__item .job__item__link {
    position: relative;
    padding-right: 30px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    float: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    z-index: 1;
}
.job__item .job__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
		padding-bottom: 30px;
    top: 0;
}
.job__item__link .job__item__logo {
	width: 80px;
  height: 80px;
  margin-right: 25px;
  top: 0;
  padding: 2px;
  border: 3px solid rgba(0, 0, 0, 0.08);
  border-radius: 50px;
}

.job__item .job__item__logo img {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 50px;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
		max-width: 100%;
		vertical-align: middle;
    border-style: none;
}

.job__item .job__description {
	flex: 1;
	padding-top: 0px;
	margin-top: -2px;
	}
.job__item .job__type {
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  padding: 2px 10px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 0 4px	 8px;
  font-weight: 600;
	background: #e0f5d7;
	color: #449626;
	margin: 0 0 4px 0px;
}
.job__item .job__type .job__title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    font-weight: 600;
}
.job__item .job__footer {
    background-color: transparent;
    padding: 0;
    margin-top: 3px
    padding: 20px 35px;
    border-radius: 0 0 4px 4px;
    position: relative;
}
.job__item .job__footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.job__item .job__footer ul li {
  background: #ffffff;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 5px;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}
.job__item .job__footer ul li i.briefcase-icon {
    color: #12b6e8;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.job_browse_btn {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    line-height: 24px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s;
    border-radius: 4px;
    background: #ff8a00;
    color: #ffffff;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    text-align: center;
}
/* =========== all jobs button ============*/
.all_jobs__btn {
	right: 0;
	align-items: right;
	position: absolute;
}
/*---------------------
  Guide Style
-----------------------*/
.section .guide-box {
    background: #ffffff;
    border-radius: 6px;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    transition: 0.4s;
    box-shadow: 0 2px 20px rgb(0 0 0 / 5%);
    z-index: 1;
}
.guide-circle {
    background-color: #ff8a00;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    z-index: 100;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}
.guide-inner {
    font-size: 40px;
    line-height: 82px;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
.guide-box p {
    margin: 0;
    margin-top: 15px;
    font-style: 16px;
    padding: 0;
    color: #808080;
}
/*---------------------
    Testimonials category
-----------------------*/
.slick_slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick_list {
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.slick_track {
position: relative;
top: 0;
left: 0;
display: block;
margin-left: auto;
margin-right: auto;
opacity: 1;
width: 6276px;
transform: translate3d(-2615px, 0px, 0px);
}

.slick_track:before, .slick_track:after {
    display: table;
    content: '';
}
.slick-initialized .slick-slide {
    display: block;
}
/*---------------------
  Footer
-----------------------*/

.footer {
	background: black;
	padding-top: 20px;
}
/* instagram */
.footer__instagram {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.footer__instagram__item {
	height: 305px;
	margin-right: -10px !important;
	margin-left: -10px !important;
	margin-bottom: 10px;

}

.footer__instagram__avatar {
	display: inline-block;
	padding: 20px 30px;
	background: black;
	position: absolute;
	height: 90px;
	width: 240px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-120px, -50px);
	-ms-transform: translate(-120px, -50px);
	transform: translate(-120px, 0px);
	z-index: 1;
}

.footer__instagram__avatar .footer__instagram__avatar--pic {
	float: left;
	margin-right: 15px;
}

.footer__instagram__avatar .footer__instagram__avatar--pic img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.footer__instagram__avatar .footer__instagram__avatar--text {
	overflow: hidden;

}

.footer__instagram__avatar .footer__instagram__avatar--text h5 {
	font-size: 20px;
	color: white;
	font-weight: 700;
	margin-bottom: 5px;
}

.footer__instagram__avatar .footer__instagram__avatar--text span {
	font-size: 14px;
	color: white;
}

/* facebook */

.footer__facebook__item {
	height: 305px;
	margin-right: -10px !important;
	margin-left: -10px !important;
	margin-bottom: 10px;
}

.footer__facebook__avatar {
	display: inline-block;
	padding: 20px 30px;
	background: black;
	position: absolute;
	height: 90px;
	width: 240px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-120px, -50px);
	-ms-transform: translate(-120px, -50px);
	transform: translate(-120px, -100px);
	z-index: 1;
}

.footer__facebook__avatar .footer__facebook__avatar--pic {
	float: left;
	margin-right: 15px;
}

.footer__facebook__avatar .footer__facebook__avatar--pic img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.footer__facebook__avatar .footer__facebook__avatar--text {
	overflow: hidden;
}

.footer__facebook__avatar .footer__facebook__avatar--text h5 {
	font-size: 20px;
	color: white;
	font-weight: 700;
	margin-bottom: 5px;
}

.footer__facebook__avatar .footer__facebook__avatar--text span {
	font-size: 14px;
	color: white;
}

/* endfacebook */

.footer__text {
	padding: 50px 0;
	text-align: center;
}

.footer__text .footer__logo {
	margin-bottom: 10px;
}

.footer__text .footer__logo a {
	display: inline-block;
}

.footer__text p {
	font-size: 15px;
	margin-bottom: 30px;
}

.footer__text .footer__social a {
	display: inline-block;
	font-size: 16px;
	color: #111111;
	height: 46px;
	width: 46px;
	background: #e7e7e7;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 6px;
}

.footer__text .footer__social a:last-child {
	margin-right: 0;
}

.footer__text .footer__social a:hover {
	background: #f4952f;
	color: #ffffff;
}

.footer__copyright {
	font-size: 15px;
	color: white;
	border-top: 1px solid #e1e1e1;
	text-align: center;
	padding: 30px 0 25px;
}

/*---------------------
    About Section
-----------------------*/

.about {
	padding-bottom: 90px;
	padding-top: 0;
}

.about__pic {
	margin-right: -10px;
}

.about__pic__item__large {
	margin-bottom: 10px;
}

.about__pic__item__large img {
	min-width: 100%;
}

.about__pic__item {
	width: calc(50% - 10px);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.about__pic__item img {
	min-width: 100%;
}

.about__text {
	border-top: 1px solid #ebebeb;
	padding-top: 40px;
}

.about__right__text h2 {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about__right__text p {
	font-size: 15px;
}

.about__right__text ul {
	margin-left: 20px;
	margin-bottom: 10px;
}

.about__right__text ul li {
	list-style: none;
	font-size: 15px;
	color: #444444;
	line-height: 30px;
	position: relative;
	padding-left: 20px;
}

.about__right__text ul li:before {
	position: absolute;
	left: 0;
	top: 13px;
	height: 3px;
	width: 3px;
	background: #444444;
	content: "";
}

.about__right__text .about__right__text__social {
	margin-top: 30px;
}

.about__right__text .about__right__text__social a {
	display: inline-block;
	font-size: 14px;
	color: #444444;
	background: #ebebeb;
	height: 46px;
	width: 46px;
	margin-right: 6px;
	line-height: 46px;
	text-align: center;
}

.about__right__text .about__right__text__social a:last-child {
	margin-right: 0;
}

/*---------------------
  Contact
-----------------------*/

.contact {
	padding-top: 0;
}

.contact__text {
	padding-top: 30px;
	border-top: 1px solid #ebebeb;
}

.contact__map {
	height: 350px;
	-webkit-box-shadow: 0px 5px 5px rgba(20, 14, 5, 0.1);
	box-shadow: 0px 5px 5px rgba(20, 14, 5, 0.1);
	margin-bottom: 30px;
}

.contact__map iframe {
	width: 100%;
}

.contact__widget ul li {
	list-style: none;
	margin-bottom: 20px;
}

.contact__widget ul li i {
	height: 50px;
	width: 50px;
	border: 1px solid #e1e1e1;
	font-size: 18px;
	color: #f4952f;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	margin-right: 16px;
}

.contact__widget ul li span {
	display: inline-block;
	font-size: 14px;
	color: #444444;
}

.contact__form .contact__form__title h2 {
	text-transform: uppercase;
	margin-bottom: 18px;
}

.contact__form .contact__form__title p {
	font-size: 15px;
	margin-bottom: 20px;
}

.contact__form form input {
	height: 46px;
	width: 100%;
	background: transparent;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #444444;
	padding-left: 20px;
	margin-bottom: 20px;
}

.contact__form form input:last-child {
	color: #444444;
}

.contact__form form textarea {
	height: 180px;
	width: 100%;
	background: transparent;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #444444;
	padding-top: 12px;
	padding-left: 20px;
	margin-bottom: 14px;
	resize: none;
}

.contact__form form textarea:last-child {
	color: #444444;
}

.contact__form form button {
	width: 100%;
}

/*---------------------
  Sign In
-----------------------*/

.fixed-position {
	overflow: hidden;
}

.signin {
	background: rgba(0, 0, 0, 0.85);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-y: auto;
}

.signin__content {
	width: 940px;
	text-align: center;
	margin: 80px 0 50px;
}

.signin__content p {
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.signin__form {
	background: #ffffff;
}

.signin__form .nav-tabs {
	border-bottom: none;
}

.signin__form .nav-item {
	width: 50%;
	float: left;
	margin-bottom: 0;
}

.signin__form .nav-item .nav-link {
	font-size: 16px;
	color: #111111;
	text-transform: uppercase;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	letter-spacing: 1px;
}

.signin__form .nav-item .nav-link.active {
	background: #f2f2f2;
}

.signin__form__text {
	padding: 50px;
	padding-top: 38px;
}

.signin__form__text p {
	font-size: 15px;
	color: #111111;
	margin-bottom: 15px;
}

.signin__form__text form input {
	height: 46px;
	width: 100%;
	background: transparent;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #444444;
	padding-left: 20px;
	margin-bottom: 20px;
}

.signin__form__text form input:last-child {
	color: #444444;
}

.signin__form__text form label {
	position: relative;
	font-size: 15px;
	color: #444444;
	padding-left: 20px;
	margin-bottom: 30px;
	display: block;
	cursor: pointer;
	margin-left: 20px;
	text-align: left;
	margin-bottom: 20px;
}

.signin__form__text form label input:checked~.checkmark {
	color: #f4952f;
}

.signin__form__text form label .checkmark {
	position: absolute;
	left: 0;
	top: 6px;
	height: 10px;
	width: 10px;
	border: 1px solid #e1e1e1;
	border-radius: 2px;
}

.signin__form__text form label input {
	position: absolute;
	visibility: hidden;
	display: none;
}

.signin__form__text form label input:checked~span {
	background: #f4952f;
	border-color: #f4952f;
}

.signin__form__signup__social {
	margin-bottom: 20px;
}

.signin__form__signup__social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	height: 46px;
	width: 46px;
	background: #f2f2f2;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	margin-right: 6px;
}

.signin__form__signup__social a.facebook {
	background: #1369c2;
}

.signin__form__signup__social a.twitter {
	background: #24c9ec;
}

.signin__form__signup__social a.google {
	background: #d41623;
}

.signin__form__signup__social a:last-child {
	margin-right: 0;
}

.divide {
	font-size: 15px;
	color: #111111;
	margin-bottom: 15px;
}

.signin__logo {
	margin-bottom: 10px;
}

/*---------------------
  404
-----------------------*/

.section-404 {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.85);
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 15px;
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow-y: auto;
}

.text-404 {
	text-align: center;
}

.text-404 h1 {
	font-size: 200px;
	font-weight: 700;
	color: #ffffff;
	line-height: 192px;
}

.text-404 h3 {
	color: #ffffff;
	margin-bottom: 8px;
}

.text-404 p {
	font-size: 15px;
	color: #c4c4c4;
	margin-bottom: 35px;
}

.text-404 form {
	width: 470px;
	position: relative;
	margin: 0 auto;
}

.text-404 form input {
	width: 100%;
	height: 46px;
	background: #f4952f;
	border: none;
	padding-left: 20px;
	font-size: 15px;
	color: #ffffff;
}

.text-404 form input::-webkit-input-placeholder {
	color: #ffffff;
}

.text-404 form input::-moz-placeholder {
	color: #ffffff;
}

.text-404 form input:-ms-input-placeholder {
	color: #ffffff;
}

.text-404 form input::-ms-input-placeholder {
	color: #ffffff;
}

.text-404 form input::placeholder {
	color: #ffffff;
}

.text-404 form button {
	font-size: 16px;
	color: #ffffff;
	background: transparent;
	border: none;
	position: absolute;
	right: 15px;
	top: 0;
	height: 46px;
}

/*---------------------
  Typography
-----------------------*/

.typography {
	padding-top: 0;
}

.typography__text {
	border-top: 1px solid #ebebeb;
	padding-top: 50px;
}

.typography__text p {
	font-size: 15px;
}

.typography__top__text {
	margin-bottom: 25px;
}

.typography__top__text h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.typography__desc {
	margin-bottom: 30px;
}

.typography__desc img {
	min-width: 100%;
}

.typography__desc p {
	margin-bottom: 10px;
}

.typography__desc p:last-child {
	margin-bottom: 0;
}

.typography__desc h2 {
	margin-bottom: 10px;
}

.typography__desc h3 {
	margin-bottom: 12px;
}

.typography__desc h4 {
	margin-bottom: 18px;
}

.typography__desc .large-h5 {
	font-size: 20px;
	margin-bottom: 18px;
}

.typography__desc h5 {
	margin-bottom: 20px;
}

.typography__desc h6 {
	margin-bottom: 18px;
}

.typography__last__text {
	margin-bottom: 35px;
}

.typography__text__list p {
	margin-bottom: 8px;
}

.typography__text__list h3 {
	text-transform: uppercase;
	margin-bottom: 8px;
}

.typography__text__list ul {
	margin-bottom: 8px;
	padding-left: 30px;
}

.typography__text__list ul li {
	list-style: none;
	font-size: 15px;
	color: #444444;
	line-height: 30px;
	position: relative;
	padding-left: 24px;
}

.typography__text__list ul li.p-left {
	margin-left: 30px;
}

.typography__text__list ul li:before {
	position: absolute;
	left: 0;
	top: 13px;
	height: 3px;
	width: 3px;
	background: #111111;
	content: "";
}

.typography__text__list--unorder {
	margin-bottom: 30px;
}

.typography__text__list--order ul li span {
	position: absolute;
	left: 0;
	top: 0;
}

.typography__text__list--order ul li:before {
	display: none;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 34px;
	}
	.single-post__recipe__details__option ul li {
		margin-right: 8px;
	}
	.header__menu ul li:hover .header__megamenu__wrapper {
		top: 42px;
		opacity: 1;
		visibility: visible;
	}
	.header__megamenu__wrapper {
		max-width: 950px;
	}
	.signin {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.footer__instagram__item {
		height: 180px;
	}
	.footer__facebook__item {
		height: 180px;
	}
	.job__item .job__item__text {
    width: 50%;
    margin-right: 12rem;
	}
}

/* Tablet Device = 768px */

@media only screen and (max-width: 991px) {
	.header__megamenu__wrapper {
		max-width: 730px;
	}
	.header__menu ul li {
		margin-right: 25px;
	}
	.job__item .job__item__text h3 a {
    font-size: 20px;
    line-height: 34px;
	}
	.job__item .job__item__text {
    width: 50%;
    margin-right: 10rem;
	}
	.job__item .post__social {
		font-size: 12px;
	}
	.hero__inside .form-box {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
    background: transparent;
    box-shadow: none;
    margin-top: 0px;
		border: none;
	}
	.hero__inside .form-box .box-item {
		padding: 0;
		border-right: 0;
		border-radius: 4px;
		box-shadow: 0 2px 12px rgb(0 0 0 / 7%);
		margin-bottom: 15px;
	}
	.job__item .job__details {
		justify-content: center;
		padding-right: 0;
		padding-top: 20px;
		padding-bottom: 10px;
		width: 100%;
		align-items: center;
	}
	.job_browse_btn, .job__item {
		width: 100%;
		align-items: center;
	}
	.hero__inside .form-box .srch-item {
		margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0px;
	}
	.hero__inside .form-box .srch-item .srch-btn {
		padding: 0;
		border-right: 0;
		border-radius: 4px;
		box-shadow: 0 2px 12px rgb(0 0 0 / 7%);
		margin-bottom: 15px;
		width: 100%;

	}
	.sidebar__item__follow__links a,
	.humberger__menu__about .humberger__menu__about__social a {
		margin-bottom: 10px;
	}
	.single-post__recipe__details__option ul li {
		margin-right: 35px;
	}
	.single-post__social__item {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 25px;
	}
	.single-post__social__item ul li {
		display: inline-block;
		margin-right: 6px;
	}
	.single-post__edit {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 25px;
	}
	.single-post__edit ul li {
		display: inline-block;
		margin-right: 6px;
	}
	.single-post__more__details img {
		margin-bottom: 25px;
	}
	.about__right__text {
		padding-top: 30px;
	}
	.signin {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.footer__instagram__item {
		height: 180px;
	}
	.footer__facebook__item {
		height: 180px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.single-post__social__item {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 25px;
	}
	.hero__inside .form-box input {
		width: 100%;
		flex-direction: column;
		flex-grow: 1;
	}
	.hero__inside .form-box {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
    background: transparent;
    box-shadow: none;
    margin-top: 0px;
		border: none;
	}
	.hero__inside .form-box .box-item {
		padding: 0;
		border-right: 0;
		border-radius: 4px;
		box-shadow: 0 2px 12px rgb(0 0 0 / 7%);
		margin-bottom: 15px;
	}

	.job .job__item .job__item__btn {
		width: 100px;
	}

	.single-post__social__item ul li {
		display: inline-block;
		margin-right: 6px;
	}
	.single-post__edit {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 25px;
	}
	.single-post__edit ul li {
		display: inline-block;
		margin-right: 6px;
	}
	.single-post__more__details img {
		margin-bottom: 25px;
	}
	.about__right__text {
		padding-top: 30px;
	}
	.contact__form {
		padding-top: 15px;
	}
	.header__menu {
		display: none;
	}
	.header__humberger {
		text-align: center;
		padding: 10px 0 5px;
	}
	.header__search {
		padding: 5px 0 11px;
		text-align: center;
	}
	.header__btn,
	.header__social {
		display: none;
	}
	.header__logo {
		padding: 30px 0 20px;
		text-align: center;
	}
	.header__social {
		text-align: center;
		padding: 0 0 15px;
	}
	.sidebar__item {
		padding-top: 50px;
	}
	.categories__list__post__item .section {
		margin-bottom: 30px;
	}
	.single-post__recipe__details__option {
		padding-bottom: 5px;
	}
	.single-post__recipe__details__option ul li {
		margin-bottom: 15px;
	}
	.signin__content {
		width: 450px;
		text-align: center;
	}
	.typography__desc img {
		margin-bottom: 30px;
	}
	.single-post__leave__comment form .input-list {
		margin-right: 0;
	}
	.single-post__leave__comment form .input-list input {
		width: 100%;
		margin-right: 0;
	}
	.search-model-form input {
		width: 100%;
	}
	.single-post__hero {
		height: 70px;
	}
	.signin {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.footer__instagram__item {
		height: 180px;
	}

	.footer__facebook__item {
		height: 180px;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.humberger__menu__wrapper {
		width: 300px;
		padding: 50px 30px 60px 30px;
	}
	.hero__inside__item--meta {
		float: none;
		margin-bottom: 10px;
	}
	.sidebar__item__follow__links a,
	.humberger__menu__about .humberger__menu__about__social a {
		margin-bottom: 10px;
	}
	.load__more__btn a {
		padding: 12px 80px 10px;
	}
	.single-post__title__meta {
		float: none;
		margin-right: 0;
	}
	.single-post__title__text {
		overflow: visible;
		padding-top: 20px;
	}
	.single-post__recipe__details__option ul li {
		float: none;
		margin-right: 0;
	}
	.single-post__tags a {
		margin-bottom: 10px;
	}
	.single-post__previous,
	.single-post__next {
		margin-bottom: 30px;
	}
	.single-post__author__profile__pic {
		float: none;
		margin-right: 0;
	}
	.single-post__author__profile__text {
		overflow: visible;
		padding-top: 30px;
	}
	.single-post__comment__item__text ul {
		position: relative;
	}
	.single-post__comment__item.single-post__comment__item--reply {
		padding-left: 0;
	}
	.signin__content {
		width: 300px;
	}
	.signin__form__text {
		padding: 30px;
	}
	.text-404 form {
		width: 100%;
	}
	.single-post__comment__item__pic {
		float: none;
		margin-bottom: 15px;
	}
	.search-model-form {
		width: 100%;
	}
	.search-model-form input {
		width: 100%;
		font-size: 18px;
	}
	.text-404 h1 {
		font-size: 100px;
		line-height: 100px;
	}
}
