{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang='en'>
  {% include 'users/header.html' %}
  <body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
    <style>html{margin-top:0 !important;}</style>
    <!-- Error container -->
    <div class="container error-container mt-n5">
      <div class="alert" id="form_message" role="alert"></div>
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message.message }}
              </div>
              {% endfor %}
            {% endif %}
    </div>
    <!-- MODALS -->
    <!-- Payment -->
    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container-fluid mx-2">

        <!-- Brand -->
        <a class="navbar-brand site-logo" href="">
          <img src="#" class="navbar-brand-img text-dark" alt="Logo here">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="icon ion-android-menu"></i>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <!-- Search form -->
          <form class="navbar-search form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">Search</button>
          </form>
          <!-- Navigation -->
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-decoration-none" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Explore
                <!-- <span class="caret"></span> -->
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Verified by Dincolo
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none" data-bs-toggle="dropdown" href="#">
                    Guides
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Community
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Blog
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-decoration-none" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    English
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Deutsch
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Romanian
                  </a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-decoration-none" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Currency
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                    Eur
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                    Usd
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                    Ron
                  </a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-decoration-none" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Sell your Skills
              </a>
            </li>
            {% if user.is_authenticated %}
            <!-- <li class="nav-item">
              <a class="nav-link text-decoration-none text-white" id="navbarDocumentation" href="{% url 'logout' %}">
                Sign out
              </a>
            </li> -->
            <li class="nav-item dropdown hide-on-mobile dropleft">
              <a type="button" class="notifications-btn">
                <span class="icon ion-ios-bell"></span>
              </a>
              <ul class="dropdown-menu notifications-dropdown-block" aria-labelledby="navbarAccount">
                <li class="notifications-not-read"><a href="#"> <span class="notification-icon"><i class="icon ion-material-outline"></i></span> <span class="notification-text"> <strong>John Williams</strong> Applied for Jobs <strong>Web Designer</strong></span></a></li>
                <li><a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href=""><span class="notification-icon"><i class="icon ion-briefcase"></i></span> <span class="notification-text"> <strong>John Williams</strong> Applied for Jobs <strong>Web Designer</strong></span></a></li>
                <li><a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href=""><span class="notification-icon"><i class="icon ion-briefcase"></i></span> <span class="notification-text"> <strong>John Williams</strong> Applied for Jobs <strong>Web Designer</strong></span></a></li>
                <li><a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href=""><span class="notification-icon"><i class="icon ion-briefcase"></i></span> <span class="notification-text"> <strong>John Williams</strong> Applied for Jobs <strong>Web Designer</strong></span></a></li>
              </ul>

            </li>
            <li class="nav-item dropdown dropleft">
              <a type="button" class="profile-btn">
                <span class="icon ion-ios-person"></span>
              </a>
              <ul class="dropdown-menu account-dropdown-block" aria-labelledby="navbarAccount">
                <li class="dropdown-header">
                  <h2>Hi, {{ user.get_username }} !</h2>
                  <h4>Check your profile tools below</h4>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="{% url 'dashboard' %}">
                    Dashboard
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="{% url 'profile' %}">
                    Profile
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Settings
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Membership
                  </a>
                </li>
                <hr>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" href="#">
                    Support
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link text-decoration-none " data-bs-toggle="dropdown" id="navbarDocumentation" href="{% url 'logout' %}">
                    Sign out
                  </a>
                </li>

              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-decoration-none" id="navbarDocumentation" href="{% url 'login' %}">
                Sign in
              </a>
            </li>
            <li class="nav-item">
            <!-- Button -->
              <a class="nav-link text-decoration-none lift" data-toggle="modal" href="#modalSignup" >
                Join
              </a>
            </li>
            {% endif %}
          </ul>

        </div>

      </div>
    </nav>
    <!-- ======= Main content ============ -->
    {% block content %}

    {% endblock %}
    {% include 'users/footer.html' %}

    <!-- JAVASCRIPT -->
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js" integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js">
    </script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- JS Custom -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Back to top -->
    <script src="{% static 'js/back_to_top.js' %}"></script>

  </body>
</html>
