{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Contacteaza-ne</h2>
          <nav id="breadcrumbs">
            <ul>
              <li><a href="{% url 'login' %}">Acasa</a></li>
              <li>Contacteaza-ne</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<!-- Contact Section Begin -->
<div class="container">
    <div class="row">
	    <div class="col-xl-4 col-lg-4">
		    <div class="boxed-list-headline-item mb-4">
            <h3><i class="fa fa-map-pin"></i> Date contact</h3>
        </div>
		    <div class="contact-location margin-bottom-50">
			       <div class="contact-address">
				          <ul>
          				  <li><strong>Website:-</strong> <a href="#">www.graficetemperatura.ro</a></li>
          				  <li><strong>E-Mail:-</strong> <a href="#">contact@ninjaweb.tech</a></li>
          				  <li><strong>Adresa:-</strong> SanPetru, Str. Drumul cu Plopi 114, Brasov.</li>
          				</ul>
			        </div>
		    </div>
	    </div>
	    <div class="col-xl-8 col-lg-8">
        <section id="contact" class="margin-bottom-50">
          <div class="boxed-list-headline-item mb-4">
            <h3><i class="fa fa-mail-forward"></i> Formular de Contact</h3>
          </div>
		      <div class="contact-form">
			      <form method="POST" name="contactform" id="contactform">
              {% csrf_token %}
				      <div class="row">
      				  <div class="col-md-6">
        					<div class="no-border">
        					  <input class="with-border" name="name" type="text" id="firstname" placeholder="Frist Name" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        					</div>
      				  </div>
  				    <div class="col-md-6">
  					    <div class="no-border">
  					      <input class="with-border" name="name" type="text" id="lastname" placeholder="Last Name" required="">
  					    </div>
  				    </div>
    				  <div class="col-md-6">
      					<div class="no-border">
      					  <input class="with-border" name="email" type="email" id="email" placeholder="Email Address" required="">
      					</div>
    				  </div>
    				  <div class="col-md-6">
      					<div class="no-border">
      					  <input class="with-border" name="subject" type="text" id="subject" placeholder="Subject" required="">
      					</div>
    				  </div>
				    </div>
				    <div>
				      <textarea class="with-border" name="comments" cols="40" rows="3" id="comments" placeholder="Message..." required=""></textarea>
				    </div>
				    <div class="centered-button margin-top-10">
					    <input type="submit" class="submit button" id="submit" value="Submit Message">
				    </div>
			  </form>
		  </div>
    </section>
  </div>
  <div class="col-xl-12">
    <div class="contact-location mt-5">
      <div id="map-container">
        <section class="section">
          <!-- RD Google Map-->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89245.39472616358!2d25.526423294702386!3d45.652456701123306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b862aa214f1%3A0x6cf5f2ef54391e0f!2zQnJhyJlvdg!5e0!3m2!1sro!2sro!4v1641907995274!5m2!1sro!2sro" width="800" height="500" style="border-top:10px solid #232627;border-bottom:10px solid #232627;" allowfullscreen="" loading="lazy"></iframe>
        </section>
      </div>
    </div>
  </div>
</div>
  <!-- Contact Section End -->

{% endblock %}
