{% extends 'artisan_app/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!--  NAVBAR
    ================================================== -->

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">The Artisan Bakery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar__collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- General links romanian -->
            <li ><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'home' %}#section_about">{% trans 'About' %}</a></li>
            <li ><a href="#section_menu">{% trans 'Menu' %}</a></li>
            <li ><a href="{% url 'gallery' %}">{% trans 'Gallery' %}</a></li>
            <li class="active"><a href="{% url 'events' %}">{% trans 'Events' %}</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>
            {% if user.is_authenticated %}
            <li><a class="" href="{% url 'send_email' %}">{% trans 'Send Newsletter' %}</a></li>

            {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__events">
        <!-- ======language button ==== -->
        <div class="language_dropdown d-flex">
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}

            <input name="next" type="hidden" value="{{ redirect_to }}">
            <h5 class="text-white">{% trans 'Language' %}</h5>
            <select class="language" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.code|upper }}
                    </option>
                {% endfor %}
            </select><br>
              <input class="lang_button" type="submit" value="Go">
          </form>
        </div>
        <!-- ======language button end ==== -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->

              <h1 class="section__heading section_header__heading text-center">
                  {% trans 'Events' %}
              </h1>
              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <!-- english -->
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                <!-- romanian -->
                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <!-- english -->
                <!-- <li class="active">Events</li> -->
                <!-- romanian -->
                <li class="active">{% trans 'Events' %}</li>

              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg events_bg"></div>
      </section>

      <!-- section events-alt -->
      <section class="section_events-alt">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section_title">&#8722; {% trans 'This week' %} &#8722;</h2>

              <hr class="section_title_line">
              <p class="section_caption"></p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="container">

          <div class="row">
          {% if not this_month_events %}
            <p class="section_caption">{% trans 'Unfortunatelly not events this week, but keep close' %}!</p>
          {% else %}

            {% for event in this_week_events %}
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{{ event.image.url }}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i>{{ event.start_date|date:"d N Y" }}
                  </div>
                  <h4 class="event_card__title">
                    {{ event.title }}
                  </h4>
                  <div class="event_card__desc">
                    {{ event.description|striptags|truncatechars:100 }}
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i>{{ event.start_date|date:"h:iA" }} - {{ event.end_date|date:"h:iA" }}
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i>{{ event.tax }} LEI
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <!-- <a href="reservation.html" class="btn btn-default">Book now</a> -->

                    <a href="reservation.html" class="btn btn-default">{% trans 'Make a reservation' %}</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>


      <!-- section events-alt -->
      <section class="section_events-alt">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section_title">&#8722; {% trans 'This month' %} &#8722;</h2>

              <hr class="section_title_line">
              <p class="section_caption"></p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="container">
          <div class="row">
          {% if not this_month_events %}

            <p class="section_caption">{% trans 'Unfortunatelly not events this month, but keep close' %}!</p>
          {% else %}
            {% for event in this_month_events %}
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{{ event.image.url }}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i>{{ event.start_date|date:"d N Y" }}
                  </div>
                  <h4 class="event_card__title">
                    {{ event.title }}
                  </h4>
                  <div class="event_card__desc">
                    {{ event.description|striptags|truncatechars:100 }}
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i>{{ event.start_date|date:"h:iA" }} - {{ event.end_date|date:"h:iA" }}
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i>{{ event.tax }} LEI
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <!-- <a href="reservation.html" class="btn btn-default">Book now</a> -->
                    <a href="{% url 'reservation' %}" class="btn btn-default">{% trans 'Make a reservation' %}</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>
{% endblock %}
