{% load static %}
<div id="footer">
    <div class="footer-section">
      <div class="container">
        <div class="row">

    		  <div class="col-xl-4 col-md-12">
    			  <div class="footer-items">
        			<a href="{% url 'home' %}"><img class="footer-logo" src="#" alt="">DINCOLO</a>
        			<p>We are a revolutionary job market, set to offer the best job matching, safety, and a 100% transparent employment process.</p>
        		</div>
          </div>

          <div class="col-xl-2 col-md-3 col-sm-6">
            <div class="footer-items">
              <h3>Job Categories</h3>
                <ul>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Farming</span></a></li>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Construction</span></a></li>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Metal Works</span></a></li>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Food Industry</span></a></li>
    				      <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Post New Job</span></a></li>
                </ul>
            </div>
          </div>

          <div class="col-xl-2 col-md-3 col-sm-6">
            <div class="footer-items">
              <h3>Job Type</h3>
                <ul>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Work from Home</span></a></li>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Internship Job</span></a></li>
    				      <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Freelancer Job</span></a></li>
                  <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Part Time Job</span></a></li>
    				      <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Full Time Job</span></a></li>
                </ul>
            </div>
          </div>

          <div class="col-xl-2 col-md-3 col-sm-6">
            <div class="footer-items">
              <h3>Resources</h3>
                <ul>
    				      <li><a href="#"><i class="fa fa-arrow-right"></i> <span>My Account</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Support</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>How It Works</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Underwriting</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Employers</span></a></li>
                </ul>
            </div>
          </div>

    		  <div class="col-xl-2 col-md-3 col-sm-6">
              <div class="footer-items">
                <h3>Quick Links</h3>
                <ul>
    				      <li><a href="jobs-list-layout-leftside.html"><i class="fa fa-arrow-right"></i> <span>Jobs Listing</span></a></li>
                  <li><a href="about-us.html"><i class="fa fa-arrow-right"></i> <span>About Us</span></a></li>
                  <li><a href="contact.html"><i class="fa fa-arrow-right"></i> <span>Contact Us</span></a></li>
                  <li><a href="privacy-policy.html"><i class="fa fa-arrow-right"></i> <span>Privacy Policy</span></a></li>
                  <li><a href="terms-condition.html"><i class="fa fa-arrow-right"></i> <span>Term &amp; Condition</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Footer Copyrights -->
    <div class="utf-footer-copyright-item">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">Copyright © 2021 All Rights Reserved.</div>
        </div>
      </div>
    </div>
    <!-- Footer Copyrights / End -->
  </div>
