{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DINCOLO - JOBURI SIGURE</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/logo/favicon.png"/>
  <meta name="description" property="og:description" content="Locuri de munca in strainatate printr-un sistem sigur si certificat.">
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="keywords" content="locuri de munca">
  <meta name="author" content="Dincolo">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://wwww.dincolo.eu/">
  <meta property="og:site_name" content="Dincolo">
  <meta property="og:title" content="Dincolo | Locuri de munca sigure si certificate" />
  <meta property="og:description" content="Locuri de munca in strainatate printr-un sistem sigur si certificat.">
  <meta property="og:image" content="#">
  <meta property="og:image:alt" content="#">

  <link rel="canonical" href="https://wwww.dincolo.eu/">

  <!-- Core Style Sheets -->
  <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
  <!-- Responsive Style Sheets -->
  <!-- Revolution Style Sheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
  .no-fouc {
    display: none;
  }
  </style>
</head>
