{% load static %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJNGOwO2hJpJ9kz8e0UUPjZhEbgDJTTXE"></script>

<!-- == CSS files== -->
<script src="{% static 'css/style_main.css' %}"></script>
<!-- == CSS files END== -->

<!-- == Javascript files== -->

<!-- == Javascript files END== -->

<!--== Javascript plugins ==-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<!--== Javascript plugins END==-->

<!-- ===== LANGUAGE BUTTON ======= -->
<script>

  /* ===== LANGUAGE BUTTON ===== */

function lang_dropdown_btn() {
  document.getElementById("lang_dropdown").classList.toggle("show");}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
  var dropdowns = document.getElementsByClassName("dropdown-content");
  var i;
  for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show')) {
      openDropdown.classList.remove('show');}
    }
  }
}
</script>

<script>
  // function getSelectLanguage()
  //     {
  //         var selectedLanguage = document.getElementById("list").value;
  //         alert(selectedLanguage);
  //     }
  //     getSelectValue();
</script>

<script>
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
