{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>{% trans 'Actualizare' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7P3VLX');
    </script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7P3VLX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-bell">
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <section class="section section-maintenance context-dark bg-image">
        <div class="section-single-inner">
          <header class="section-single-header page-header">
            <div class="page-head-inner">
              <a class="brand" href="#">
                  {% include 'obcinastanisoarei_app/language_btn.html' %}
                <!-- <img class="brand-logo-dark" src="images/logo-default-220x20.png" alt="" width="220" height="20" srcset="images/logo-default-439x39.png 2x"/>
                <img class="brand-logo-light" src="images/logo-inverse-298x27.png" alt="" width="298" height="27" srcset="images/logo-inverse-595x53.png 2x"/> -->
              </a>
            </div>
          </header>

          <div class="section-single-main">
            <div class="container">
              <div class="title-modern">{% trans 'Scuze' %}!</div>
              <h3 class="fw-light text-spacing-100">{% trans 'Website in curs de actualizare' %}</h3>
              <!-- <a class="button button-lg button-primary button-zakaria" href=""></a> -->
            </div>
          </div>
          <div class="section-single-footer" data-wow-delay=".1s">
            <h4 class="footer-creative-title">{% trans 'Contact' %}</h4>
            <ul class="contacts-holly">
              <li>
                <div class="contacts-holly-title">{% trans 'Telefon' %}</div>
                <div class="contacts-holly-text"><a href="tel:0040740934503">+40 740 934 503</a></div>
              </li>
              <li>
                <div class="contacts-holly-title">{% trans 'Adresa' %}</div>
                <div class="contacts-holly-text"><a href="#">Str. Principala, 549, Sat Piraie, Com. Malini, Suceava, Romania</a></div>
              </li>
              <li>
                <div class="contacts-holly-title">E-mail</div>
                <div class="contacts-holly-text"><a href="mailto:contact@obcinastanisoarei.ro">contact@obcinastanisoarei.ro</a></div>
              </li>
            </ul>
          </div>
          <div class="section-single-footer">
            <div class="container text-center">
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Asociatia Culturala 'Obcina Stanisoarei'</span><span>.&nbsp; {% trans 'Organizatie Non-Guvernamentala' %}. {% trans 'Toate Drepturile Rezervate' %}.</span><span>&nbsp;</span><a href="#">Privacy Policy</a>.</p>
            </div>
          </div>

        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    {% include 'obcinastanisoarei_app/js.html' %}
  </body>
</html>
