{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="clearfix"></div>
{% include 'users/messages.html' %}

<div class="dashboard-container" style="height: 753px;">
    <!-- Dashboard Sidebar -->
    <div class="dashboard-sidebar">
      <div class="dashboard-sidebar-inner" data-simplebar="init" style="height: 753px;">
        <div class="simplebar-track vertical" style="visibility: visible; display: none;">
          <div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 25px;">
          </div>
        </div>
        <div class="simplebar-track horizontal" style="visibility: visible; display: none;">
          <div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;">
          </div>
        </div>
        <div class="simplebar-scroll-content" style="padding-right: 15px; margin-bottom: -30px;">
          <div class="simplebar-content" style="padding-bottom: 15px; margin-right: -15px;">
            <div class="dashboard-nav-container">
              <!-- Responsive Navigation Trigger -->
              <a href="#" class="dashboard-trigger">
                <span class="hamburger hamburger-collapse-item">
                  <span class="hamburger-box-item">
                    <span class="hamburger-inner-item"></span>
                  </span>
                </span>
                <span class="trigger-title">Dashboard Menu</span>
              </a>
                <!-- Navigation -->
        		  <div class="dashboard-nav">
          			<div class="dashboard-nav-inner">
          			  <div class="dashboard-profile-box">
          				  <span class="avatar-img">
                      <img alt="" src="{% static 'img/avatar-img.png' %}" class="photo">
          				  </span>
          				  <div class="user-profile-text">
                      <span class="fullname">Daniel Ungureanu</span>
                      <span class="user-role">Chainsaw Operator</span>
          				  </div>
          			   </div>
                   <div class="clearfix"></div>
                   <ul>
                     <li class="active"><a href="{% url 'dashboard' %}"><i class="icon ion-clipboard"></i> Dashboard</a></li>
                     <li ><a href="{% url 'profile' %}"><i class="icon ion-ios-person-outline"></i> Profile</a></li>
                     <li id="fr-trigger"><a href="#"><i class="icon ion-ios-lightbulb-outline"></i> Freelancer submenu<i class="icon ion-chevron-down ml-5"></i></a>
                       <ul class="dropdown-nav">
                         <li><a href="{% url 'add_service' %}"><i class="icon ion-ios-plus-empty"></i> Post a Service</a></li>
                         <li><a href="dashboard-freelancer-manage-tasks-list.html"><i class="icon ion-ios-book-outline"></i> Manage Contracts</a></li>
                       </ul>
                      </li>
                      <li id="ctr-trigger"><a href="#"><i class="icon ion-ios-briefcase-outline"></i> Contractor submenu<i class="icon ion-chevron-down ml-5"></i></a>
                        <ul class="dropdown-nav">
                          <li><a href="dashboard-jobs-post.html"><i class="icon ion-ios-plus-empty"></i> Post a job</a></li>
                          <li><a href="dashboard-freelancer-manage-tasks-list.html"><i class="icon ion-ios-flag-outline"></i> Manage Jobs <span class="nav-tag">{ count nr }</span></a></li>
                          <li><a href="dashboard-manage-resume.html"><i class="icon ion-ios-book-outline"></i> Manage Job Applications</a></li>
                          <li><a href="dashboard-bookmarks.html"><i class="icon ion-ios-bookmarks-outline"></i> Bookmarks</a></li>

                          <li><a href="dashboard-freelancer-active-bids.html"><i class="icon-feather-chevron-right"></i> Active Bids</a></li>
                          <li><a href="dashboard-freelancer-add-post-bids.html"><i class="icon-feather-chevron-right"></i> Post Bids</a></li>
                        </ul>
                       </li>
                      <li><a href="#"><i class="icon ion-ios-star-outline"></i> Reviews</a></li>
                      <li><a href="#"><i class="icon ion-log-out"></i> Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Dashboard Sidebar / End -->

    <!-- Dashboard Content -->
    <div class="dashboard-content " data-simplebar="init" style="height: 730">
      <div class="simplebar-track vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 246px;"></div>
      </div>
      <div class="simplebar-track horizontal" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div>
      </div>
      <div class="simplebar-scroll-content" style="padding-right: 15px; margin-bottom: -30px;">
        <div class="simplebar-content" style="padding-bottom: 15px; margin-right: -15px;">
      	  <div id="dashboard-titlebar" class="dashboard-headline-item">
        		<div class="row">
        			<div class="col-xl-12">
        				<h3>Dashboard</h3>
        				<nav id="breadcrumbs">
        					<ul>
        					  <li><a href="{% url 'home' %}">Home</a></li>
        					  <li>Dashboard</li>
        					</ul>
        				</nav>
        			</div>
        		</div>
          </div>
	        <div class="inner-dashboard-content" style="min-height: 753px;">
            {% include 'users/messages.html' %}
            <!-- Start of user facts -->
            
            <!-- End of contracts history -->
          </div>
        </div>
      </div>
    </div>
	<!-- Dashboard Content End -->
  </div>
{% endblock %}
