{% load static %}

<!-- Subscribe Block Start -->
<section class="newsletter_area newsletter_block">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="subs_block">
                <div class="col-xl-8 col-md-7">
                    <div class="section-heading">
                        <h2 class="newsl_title1 newsl_title2">Subscribe to Our Newsletter!</h2>
                        <p class="newsl_subheading">Subscribe to get latest updates and information.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-5">
                    <div class="email_box">
                        <form method="POST">
                          {% csrf_token %}
                            <i class="fa fa-envelope"></i>
                            <input class="form-control" type="email" placeholder="Enter your email" required="">
                            <button class="subs_btn" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Subscribe Block End -->
