<!--
Source: (https://codyhouse.co/gem/loginsignup-modal-window/)
-->
{% load static %}

<!-- ============== MODAL JOIN AND SIGN IN POPUP ================= -->
<div class="signin-modal js-signin-modal"> <!-- this is the entire modal form, including the background -->
  <div class="signin-modal__container"> <!-- this is the container wrapper -->
    <ul class="signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
      <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
      <li><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
    </ul>

    <div class="signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
      <form class="signin-modal__form">
        {% csrf_token %}
        <p class="signin-modal__fieldset">
          <label class="signin-modal__label signin-modal__label--email signin-modal__label--image-replace" for="signin-email" >E-mail</label>
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding signin-modal__input--has-border" id="signin-email" type="text" name="signin-email" placeholder="E-mail">
          <!-- <span class="signin-modal__error">Error message here!</span> -->
        </p>

        <p class="signin-modal__fieldset">
          <label class="signin-modal__label signin-modal__label--password signin-modal__label--image-replace" for="signin-password" name="emailaddress-register">Password</label>
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding signin-modal__input--has-border" id="signin-password" type="text" name="signin-pass"  placeholder="Password">
          <a href="#0" class="signin-modal__hide-password js-hide-password">Hide</a>
          <!-- <span class="signin-modal__error">Error message here!</span> -->
        </p>

        <p class="signin-modal__fieldset">
          <input type="checkbox" id="remember-me" checked class="signin-modal__input ">
          <label for="remember-me">Remember me</label>
        </p>

        <p class="signin-modal__fieldset">
          <input class="signin-modal__input signin-modal__input--full-width" type="submit" value="Login">
        </p>
        <hr>
        <p class="signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot your password?</a></p>
      </form>
    </div> <!-- signin-modal__block -->

    <div class="signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
      <form class="signin-modal__form">
        {% csrf_token %}
        <p class="signin-modal__fieldset">
          <label class="signin-modal__label signin-modal__label--username signin-modal__label--image-replace" for="signup-username">Username</label>
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding signin-modal__input--has-border" id="signup-username" type="text" name="signup-username" placeholder="Username">
          <span class="signin-modal__error">Error message here!</span>
        </p>

        <p class="signin-modal__fieldset">
          <label class="signin-modal__label signin-modal__label--email signin-modal__label--image-replace" for="signup-email">E-mail</label>
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding signin-modal__input--has-border" id="signup-email" type="email" name="signup-email" placeholder="E-mail">
          <span class="signin-modal__error">Error message here!</span>
        </p>

        <p class="signin-modal__fieldset">
          <label class="signin-modal__label signin-modal__label--password signin-modal__label--image-replace" for="signup-password">Password</label>
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding signin-modal__input--has-border" id="signup-password1" type="text" name="signup-pass" placeholder="Password">
          <a href="#0" class="signin-modal__hide-password js-hide-password">Hide</a>
          <span class="signin-modal__error">Error message here!</span>
        </p>

        <p class="signin-modal__fieldset">
          <input type="checkbox" id="accept-terms" class="signin-modal__input ">
          <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
        </p>

        <p class="signin-modal__fieldset">
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding" type="submit" value="Create account">
        </p>
        <hr>
        <p class="signin-modal__message">By joining I agree to receive emails from Dincolo.</p>

      </form>
    </div> <!-- signin-modal__block -->

    <div class="signin-modal__block js-signin-modal-block" data-type="reset"> <!-- reset password form -->
      <p class="signin-modal__message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

      <form class="signin-modal__form">
        <p class="signin-modal__fieldset">
          <label class="signin-modal__label signin-modal__label--email signin-modal__label--image-replace" for="reset-email">E-mail</label>
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="signin-modal__error">Error message here!</span>
        </p>

        <p class="signin-modal__fieldset">
          <input class="signin-modal__input signin-modal__input--full-width signin-modal__input--has-padding" type="submit" value="Reset password">
        </p>
      </form>

      <p class="signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back to log-in</a></p>
    </div> <!-- signin-modal__block -->
    <a href="#0" class="signin-modal__close js-close">Close</a>
  </div> <!-- signin-modal__container -->
</div> <!-- signin-modal -->
