{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="clearfix"></div>
    <!-- Titlebar -->
    <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Candidate registration</h2>
          <nav id="breadcrumbs">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li>Candidate registration</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <div class="register mb-5">

          <form method="POST" id="register-account-form">
            <div class="no-border">
              <input type="email" class="with-border" name="username-register" id="name-register" placeholder="Your Email" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
			      <div class="no-border">
              <input type="text" class="with-border" name="first_name-register" id="last_name-register" placeholder="First Name" required="">
            </div>
            <div class="no-border">
              <input type="text" class="with-border" name="last_name-register" id="last_name-register" placeholder="Last Name" required="">
            </div>
			      <div class="no-border mb-5">
            </div>
            <div class="no-border">
              <input type="password" class="with-border" name="password-register" id="password-register" placeholder="Password" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
            <div class="no-border">
              <input type="password" class="with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
            <div class="no-border">
              <input type="password" class="with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
            <div class="no-border">
              <input type="text" class="with-border" name="phone-register" id="password-repeat-register" placeholder="Phone Number" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
            <div class="no-border">
              <input type="password" class="with-border" name="birth-register" id="birth-register" placeholder="Birth Date" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
            <div class="no-border">
              <input type="text" class="with-border" name="birth-register" id="birth-register" placeholder="Birth Date" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
            <div class="no-border">
              <select class="with-border" placeholder="Select Gender" name="gender-register" id="gender-register" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="no-border">
              <input type="image" class="with-border" name="image-register" id="birth-register" placeholder="Birth Date" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            </div>
			      <div class="checkbox mt-10">
      				<input type="checkbox" id="two-step0">
      				<label for="two-step0"><span class="checkbox-icon"></span> I Have Read and Agree to the <a href="{% url 'terms-of-service' %}">Terms &amp; Conditions</a></label>
    		    </div>
          </form>
          <button class="button full-width sliding-icon ripple-effect mt-10" type="submit">Create An Account <i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
