{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="clearfix"></div>
<!-- Titlebar -->
<div id="titlebar" class="gradient">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Inregistrare</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Inregistrare</li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="reg-confirm">
          <i class="fa fa-check-circle"></i>

          <h2 class="mt-3">Thank you for registering!</h2>
          <p>You'll receive a confirmation Email at <a href="#">{{ email }}</a></p>
		</div>
      </div>
    </div>
  </div>
{% endblock %}
