{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <title>The Artisan Bakery | Cake & Coffee Shop</title>

    <!-- CSS Plugins -->
    <link href="{% static 'plugins/lightbox/dist/css/lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/flickity/flickity.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" type="text/css">

    <!-- CSS Global -->
    <link href="{% static 'css/styles_v2.css' %}" rel="stylesheet">

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="70">
    <!--  NAVBAR
    ================================================== -->

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">The Artisan Bakery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar__collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- General links english-->
            <!-- <li><a href="{% url 'home' %}">Home</a><li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="active"><a href="{% url 'contacts' %}">Contact</a></li> -->

            <!-- General links -->
            <li><a href="{% url 'home' %}">Acasa</a></li>
            <li><a href="{% url 'about' %}">Despre</a></li>
            <li><a href="{% url 'menu' %}">Meniu</a></li>
            <li><a href="{% url 'gallery' %}">Galerie foto</a></li>
            <li><a href="{% url 'events' %}">Evenimente</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>
            {% if user.is_authenticated %}
            <!-- <li><a href="{% url 'send_email' %}">Send Newsletter</a></li>-->
            <li  class="active"><a class="" href="{% url 'send_email' %}">Trimite Newsletter</a></li>

            {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- CONTENT
    ================================================== -->

		<!-- HEADER
		================================================== -->
    <section class="section section_header section_header__contacts">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">

						<!-- Heading -->
              <!-- english -->
						<!-- <h1 class="section__heading section_header__heading text-center">
							Newletter
						</h1> -->
              <!-- romanian -->
            <h1 class="section__heading section_header__heading text-center">
							Newletter
						</h1>

						<!-- Breadcrumbs -->
						<ol class="breadcrumb">
              <!-- english -->
							<!-- <li><a href="{% url 'home' %}">Home</a></li> -->
              <!-- romanian -->
              <li><a href="{% url 'home' %}">Acasa</a></li>
              <!-- english -->
              <!-- <li class="active">Newletter</li> -->
              <!-- romanian -->
							<li class="active">Newletter</li>
              {{subscribers}}
						</ol>

          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
      <div class="section_header__bg newsletter_bg"><img src="{% static 'img/newsletter.png' %}" alt="newsletter" width="100%" height="100%"></div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" action="{% url 'home' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-default">
              Trimite
            </button>
          </form>
        </div>
      </div>
    </div>


    <!-- section footer -->
    <footer class="section_footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <!-- <h3 class="section_footer_heading">Contacts</h3> -->
            <h3 class="section_footer_heading">Contact</h3>

            <p><i class="icon ion-ios-location-outline"></i> 500461 Str. Pelicanului 13, Brasov, RO</p>
            <p><i class="icon ion-ios-telephone-outline"></i> +40 768 662 612</p>
            <p><i class="icon ion-ios-email-outline"></i> contact@artisanbakery.ro</p>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- <h3 class="section_footer_heading">Follow us</h3> -->
            <h3 class="section_footer_heading">Urmareste-ne</h3>

            <!-- <p><b>Download our app:</b></p>
            <ul>
              <li class="app_icon"><a href="#"><i class="icon ion-social-apple-outline"></i></a></li>
              <li class="app_icon"><a href="#"><i class="icon ion-social-android-outline"></i></a></li>
              <li class="app_icon"><a href="#"><i class="icon ion-social-windows-outline"></i></a></li>
            </ul> -->
            <div class="social">
              <ul>
                <li><p><b>Social: </b></p></li>
                <li class="social_icon"><a href="https://www.facebook.com/artisanbakerybrasov"><i class="icon ion-social-facebook-outline"></i></a></li>
                <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                <li class="social_icon"><a href="https://www.instagram.com/artisanbakerybrasov/"><i class="icon ion-social-instagram-outline"></i></a></li>
                <li class="social_icon"><a href="#"><i class="ion-social-foursquare"></i></a></li>
              </ul>
            </div> <!-- .social -->
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- <h3 class="section_footer_heading">Opening hours</h3> -->
            <h3 class="section_footer_heading">Program</h3>

            <p><b>Mon-Fri: </b>9 AM - 4 PM</p>
            <p><b>Sat: </b>11 AM - 1 PM</p>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- <h3 class="section_footer_heading">Support</h3> -->
            <h3 class="section_footer_heading">Suport</h3>

            <!-- <p><a href="#">Help & Support</a></p> -->
            <p><a href="#">Ajutor & Suport</a></p>

            <!-- <p><a href="#">Privacy Policy</a></p> -->
            <p><a href="#">Privacy</a></p>

            <!-- <p><a href="#">Terms & Conditions</a></p> -->
            <p><a href="#">Termeni & Conditii</a></p>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
            <p class="footer_info"><a style="text-decoration: none;" href="http://127.0.0.1:8000/admin/">&#169; 2017 Artisan Bakery.</a> All rights reserved.</p>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </footer>
    <!-- JS
    ================================================== -->

    <!-- JS Global -->
    <script src="{% static 'plugins/jquery/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins -->
    <script async src="{% static 'plugins/lightbox/dist/js/lightbox.min.js' %}"></script>
    <script async src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script async src="{% static 'plugins/flickity/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

    <!-- JS Custom -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script async src="{% static 'js/google_maps.js' %}"></script>

    <!-- Google Maps -->
    <script async src="{% static 'js/back_to_top.js' %}"></script>
