<!-- section reservation -->
<section class="section_reservation" id="section_reservation">
  <div class="section_row">
    <div class="col-md-5">
      <div class="reservation_img"></div>
    </div>
    <div class="col-md-7">
      <div class="reservation_form_body">
        <h3 class="reservation_form_title">Write us</h3>
        <hr class="section_title_line">
        <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <form class="reservation_form" id="reservation__form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="sr-only" for="reservation__name">Full Name</label>
                <input type="text" class="form-control" id="reservation__name" name="reservation__name" placeholder="Full Name">
                <div class="help-block"></div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="reservation__phone">Phone Number</label>
                <input type="tel" class="form-control" id="reservation__phone" name="reservation__phone" placeholder="Phone Number">
                <div class="help-block"></div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="reservation__phone">Your e-mail</label>
                <input type="email" class="form-control" name="reservation__email" id="reservation__email" placeholder="Your e-mail">
                <div class="help-block"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="sr-only" for="reservation__people">Number of persons</label>
                <select class="form-control" id="reservation__people" name="reservation__people">
                  <option value="1" selected="">1 Person</option>
                  <option value="2">2 Persons</option>
                  <option value="3">3 Persons</option>
                  <option value="4">4 Persons</option>
                  <option value="5">5 Persons</option>
                  <option value="6">6 Persons</option>
                </select>
                <div class="help-block"></div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="reservation__date">Date</label>
                <input type="date" class="form-control" name="reservation__date" id="reservation__date" value="2017-10-09">
                <div class="help-block"></div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="reservation__time">Time</label>
                <input type="time" class="form-control" id="reservation__time" value="19:00" name="reservation__time">
                <div class="help-block"></div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-default">Reserve a table</button>
            </div>
          </div> <!-- .row -->
        </form>
      </div> <!-- .reservation_form_body -->
    </div>
  </div> <!-- .section_row -->
</section>
